block var
doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		link(rel="icon" href="images/favicon.ico" type="image/x-icon")
		link(rel="stylesheet", href="css/main.css")
		title Blog
	body(class=bodyClass)
		.loading
			.lds-ellipsis(style='width:100%;height:100%;')
				div
					div
				div
					div
				div
					div
				div
					div
				div
					div
		.global_Wrapper
			include ./../includes/header.pug
			block content
			footer#footer
				.menu
					.wrapper
						.item_list
							ul.item
								li
									a(class="scrollSuave" href="#") Quem somos
								li
									a(class="scrollSuave" href="#" ) O que fazemos
								li
									a(class="scrollSuave" href="#") Nossas conquistas
								li
									a(class="scrollSuave" href="#") Como colaborar
						.item_list
							ul.item
								li
									a(class="scrollSuave" href="#") Fale conosco
								li
									a(class="scrollSuave" href="#") Aliança luta pela paz
								li
									a(class="scrollSuave" href="#") Fight for peace
								li
									a(class="scrollSuave" href="#") Novidades
					div.div-strong-dark-blue
						p.color-white Você faz parte de uma organização filiada à Aliança Luta Pela Paz? Faça seu login e acesse nossa rede! :)
						br
						button.btn-dark-blue ACESSAR ALIANÇA LPP
		script(src="js/main.js")
		script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")
