body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    &.page-start {
        overflow: initial;
        overflow-x: hidden;
    }
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    &.small{
        max-width: 735px;
    }
    &.medium{
        max-width: 1180px;
    }
}
.watching {
    transition: all 0.7s;
    transform: translate(0, 50%);
    opacity: 0;
    &.right{
        transform: translate(50%, 0);
    }
    &.left {
        transform: translate(-50%, 0);
    }
    &.fade {
        opacity: 1;
        transform: translateY(0%);
    }
}
#footer{
    .menu{
        margin-top: 110px;
        padding: 50px 0;
        @include break-max(1025px) {
            padding: 50px 30px;
            margin-top: 10px;
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
            @include break-max(480px) {
                display: block;

            }
            .title_footer{
                position: relative;
                font-size: 16px;
                color: #5a5d6e;
                font-weight: 600;
                @include break-max(480px) {
                    margin-top: 20px;
                    padding-bottom: 10px;
                    &:after{
                        content: ' ';
                        border-bottom: 2px solid;
                        position: absolute;
                        bottom: 0;
                        left: 0px;
                        width: 35%;
                        height: 1px;
                    }
                }
            }
            .logo{
                img{

                }
            }
            .item_list{
                border-right: 1px solid #9b9b9b;
                padding-right: 25px;
                padding: 0 50px;
                margin-left: -90px;
                &:first-child{
                    margin-left: 0;
                }
                @include break-max(480px) {
                    border: none;
                    padding: 0;
                    margin-left: 0px;
                 }
                .item{
                    margin-top: 12px;
                    li{
                        line-height: 1.27;
                        a{
                            color: #5a5d6e;
                            font-size: 14px;
                        }
                    }
                }
            }
            .ad{
                border-right: 1px solid #9b9b9b;
                padding-right: 25px;
                margin-left: -50px;
                @include break-max(480px) {
                    border: none;
                    padding: 0;
                    margin-left: 0;
                 }
                .media{
                    display: flex;
                    justify-content: space-between;
                    @include break-max(480px) {
                        display: block;
                    }
                }
            }
            .certificacion{
                .media{
                    img{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .adress{
        .wrapper{
            p{
                text-align: center;
                font-size: 16px;
                color: #5a5d6e;
                padding: 0 130px;
                @include break-max(480px) {
                    padding: 0 20px;
                    font-size: 14px;;
                }
            }
        }
    }
    .copyright{
        background: #294898;
        padding: 20px 0;
        line-height: 13px;
        font-size: 7px;
        color: #fff;
        margin-top: 60px;
        p{
            margin-left: 10px;
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 20px;
        }
    }
}
.pagination{
    display: flex;
    background: #5eb138;
    justify-content: space-between;
    padding: 5px 200px;
    color: #fff;
    margin-top: 40px;
    
    .active{
        color: #2e67b0;
        font-weight: bold;
        text-decoration: underline;
    }
}
.oh {
    overflow: scroll;
}