$teko: 'Teko', sans-serif;
$asap: 'Asap', sans-serif;
$shadow: 0px 9px 163px -2px rgba(112,112,112,0.2);
$sign: 'Signika', sans-serif;
body {
    font-family: $asap;
    overflow: hidden;
    &.page-start {
        overflow: initial;
        overflow-x: hidden;
    }
}
.title-font{
    font-family: $teko;
}
.wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    &.small{
        max-width: 735px;
    }
    &.medium{
        max-width: 1180px;
    }
    @include break-max(768px){
        padding: 0;
    }
}
.watching {
    transition: all 0.7s;
    transform: translate(0, 50%);
    opacity: 0;
    &.right{
        transform: translate(50%, 0);
    }
    &.left {
        transform: translate(-50%, 0);
    }
    &.fade {
        opacity: 1;
        transform: translateY(0%);
    }
}

.color-black{
    color: #262C33;
}

.color-dark-grey{
    color: #525B66;
}

.color-medium-grey{
    color: #828C99;
}

.color-light-grey{
    color: #B8C1CC;
}

.color-extra-light-grey{
    color: #E6ECF2;
}

.color-white{
    color: #F5F9FC;
}

.color-strong-dark-blue{
    color: #11254D;
}

.color-navy-blue{
    color: #113273;
}

.color-strong-light-blue{
    color: #3966BF;
}

.color-light-blue{
    color: #57CFFF;
}

.color-dark-blue{
    color: #1CA8E0;
}

.color-medium-blue{
    color: #62CFCF;
}

.color-red{
    color: #F95B53;
}

.color-orange{
    color: #F47249;
}

h1{
    font-family: Teko;
    font-size: 46px;
    line-height: 54px;
    color: #3966BF;

    @include break-max(480px){
        color: #3966BF;
        font-size: 34px;
        line-height: 42px;
    }
}

p{
    font-family: Asap, sans-serif;
    font-size: 14px;
    line-height: 22px;

    @include break-max(480px){
        line-height: 20px;
    }
}

.btn-blue{
    padding: 0 10px 0 10px;
    background-color: #57CFFF;
    border-radius: 20px;
    border-color: #57CFFF;
    color: #ffffff;
    cursor: pointer;
    &:hover{
        border-color: #3966BF;
        background-color: #3966BF;
        transition: 0.5s;
    }
}

.btn-green{
    padding: 0 10px 0 10px;
    background-color: #62CFCF;
    border-radius: 20px;
    border-color: #62CFCF;
    color: #ffffff;
    cursor: pointer;
    &:hover{
        border-color: #55D9D9;
        background-color: #55D9D9;
        transition: 0.5s;
    }
}

.content{
    height: 430px;
    .section_middle{
        display: flex;
        .item_middle{
            border-radius: 10px;
            border: 1px solid #666666;
            width: 25%;
            text-align: center;
            p{
                padding: 0 10px 20px 10px;
            }
            img{
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
        .space{
            padding:50px;
        }
    }

}

.square_content{
    .square-red{
        background-color: #F95B53;
    }

    .square-orange{
        background-color: #F47249;
    }

    .square-blue{
        background-color: #1CA8E0;
    }

    .square-light-blue{
        background-color: #62CFCF;
    }
}

.space_footer{
    padding-bottom: 200px;
}
#footer{
    .menu{
        background: #1F3F7F;
        padding: 50px 0;
        .wrapper{
            display: flex;
            justify-content: space-between;
            padding: 0;
            @include break-max(768px){
                flex-wrap: wrap;
            }
            .item_list{
                width: 35%;
                display: flex;
                justify-content: flex-start;
                @include break-max(768px){
                    display: none;
                }

                .item{
                    max-width: 150px;
                    width: 100%;
                    margin-left: 30px;
                    &:first-child{
                        margin-left: 0;
                    }
                    li{
                        padding: 10px 0;
                        a{
                            font-family: 'Asap', sans-serif;
                            font-size: 14px;
                            color: #E6ECF2;
                            font-weight: normal;
                        }
                    }
                }
            }
            .media{
                width: 30%;
                @include break-max(768px){
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                }
                .logo{
                    width: 100%;
                    margin: 10px auto;
                    @include break-max(768px){
                        width: 50%;
                    }
                    img{
                        width: 70px;
                        height: auto;
                        margin-left: 40px;
                        @include break-max(768px){
                            margin-left: 0;
                            margin: 0 auto;
                        }
                    }
                }
                .social{
                    margin-top: 30px;
                    @include break-max(768px){
                        width: 50%;
                    }
                    img{
                        float: left;
                        margin-left: 10px;
                    }
                }
            }
            .box{
                width: 30%;
                @include break-max(768px){
                    width: 100%;
                    order: -1;
                    display: flex;
                    justify-content: center;
                }
                .div-strong-dark-blue{
                    background-color: #11254D;
                    max-width: 300px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 20px 30px;
                    float: right;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    @include break-max(768px){
                        float: inherit;
                    }
                    p{
                        font-size: 14px;
                        color: #E6ECF2;
                        line-height: 25px;
                        font-weight: normal;
                        padding-left: 9px;
                        margin-bottom: 20px;
                    }
                    .btn-dark-blue {
                        background: #3257A1;
                        padding: 9px 35px 7px 35px;
                        font-family: 'Teko', sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.9px;
                        border-radius: 30px;
                        border: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}
