extends tpl/simple.pug
block var
	- var title = "About";
block content
	.webdoor_principal(data-id='0')
		figure.image(style='float:right;')
			img(alt='', src='/uploads/files/home.png')
			figcaption
				strong Apoie nossa luta
				em acreditamos que com suporte e apoio certos, jovens moradores de comunidades afetadas pelo crime e violência podem desenvolver seus potenciais, aproveitando oportunidades já existentes ou criando novas. A Luta pela Paz já impactou a vida de mais de 250 mil pessoas através de suas Academias, Aliança Luta pela Paz e Programas Comunidades Seguras. Buscamos um mundo com mais paz, justiça e solidariedade. Você também pode fazer parte disso nos ajudando a manter e ampliar cada vez mais esse trabalho.
				a(href="#") teste
	include includes/three_pillars.pug
	include includes/timeline.pug
	include includes/institucional.pug
	include includes/ambassadors.pug
	include includes/partners.pug