extends tpl/simple.pug
block var
	- var title = "Home";
block content
	include includes/webdoor_principal.pug
	include includes/section_lifes.pug
	include includes/numbers_home.pug
	include includes/webdoor_principal.pug
	include includes/gallery.pug
	include includes/section_news.pug