extends tpl/simple.pug
block var
    - var title = "News";
block content
    .news
        include includes/webdoor_principal.pug
        include includes/webdoor_news.pug
        include includes/section_news.pug