.ambassadors{
    background: #F5F9FC;
    padding: 80px 0;
    .wrapper{
        .box{
            display: flex;
            justify-content: space-between;
            .media{
                width: 40%;
            }
            .content_text{
                width: 55%;
                h4{
                    font-family: $teko;
                    font-size: 46px;
                    font-weight: normal;
                    color: #3966BF;
                }
                span{
                    font-family: $teko;
                    font-size: 34px;
                    font-weight: normal;
                    color: #F95B53;
                }
                p{
                    display: block;
                    font-family: $asap;
                    color: #525B66;
                    font-size: 14px;
                    font-weight: normal;
                    margin-top: 10px;
                    margin-bottom: 35px;
                }
                .destaque{
                    background: #F95B53;
                    padding: 30px;
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                    margin-top: 40px;
                    p{
                        color: #F5F9FC;
                        margin: 0;
                    }
                }
            }
        }
    }
}