.content_maes{
    .box-content{
        position: relative;
        .introduction_maes{
            width: 23vw;
            position: absolute;
            left: 42%;
            top: 30%;
            .title{
                background: #ff628a;
                border-radius: 60px;
                border-bottom-left-radius: 0;
                width: 100%;
                margin-bottom: 1vw;
                h4{
                    font-family: 'Teko';
                    padding-top: 1vw;
                    color: #fff;
                    text-align:center;
                    font-size: 3vw;
                    text-transform:uppercase;
                    font-weight: normal;
                }
            }
        }
        p{
            color: #868f99;
            font-family: 'Asap';
            font-size: .85vw;
        }
        a{
            display: block;
            margin-top: 3vw;
            font-family: 'Teko';
            font-size: 1vw;
            text-transform: uppercase;
            text-align: center;
            span{
                color: #fff;
                background: #ff628a;
                padding: .2vw 2.5vw .1vw;
                border-radius: 40px;
            }
        }
    }
}