.content_maes{
    .scenes{
        section.scene{
            display: none;
            &.active{
                display: block;
            }
        }
    }
    section.introduction_container{
        .box_introduction{
            position: relative;
            background: url("../images/bg-banner.png");
            background-repeat: no-repeat;
            display: flex;
            height: 800px;
            background-size: cover;
            background-position: 50% 50%;
            justify-content: center;
            align-items: center;
            @include break-max(768px){
                background: url("../images/bg-banner-mobile.png");
                padding: 0 20px;
                display: flex;
                align-items: flex-end;
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat
            }
            .introduction_content{
                width: 435px;
                margin-left: 150px;
                @include break-max(768px){
                    margin-left: 0;
                    width: 100%;
                    margin-bottom: 100px;
                    display: flex;
                    flex-direction: column;
                }
                h4{
                    border-radius: 60px;
                    border-bottom-left-radius: 0;
                    background: #ff628a;
                    font-family: 'Teko';
                    padding-top: 1vw;
                    color: #fff;
                    text-align:center;
                    font-size: 64px;
                    text-transform:uppercase;
                    font-weight: normal;
                    border-radius: 60px;
                    border-bottom-left-radius: 0;
                    @include break-max(768px){
                        font-size: 39px;
                        margin-bottom: 340px;
                        width: 230px;
                        margin-left: 75px;
                        padding-top: 10px;
                        align-self: center;
                    }
                }
                p{
                    font-size: 16px;
                    color: #868f99;
                    font-family: 'Asap';
                    margin-top: 10px;
                    padding: 20px 12px;
                    @include break-max(768px){
                        color: #fff;
                        font-size: 14px;
                    } 
                }
                a{
                    display: block;
                    margin-top: 45px;
                    font-family: 'Teko';
                    font-size: 22px;
                    text-transform: uppercase;
                    text-align: center;
                    span{
                        color: #fff;
                        background: #ff628a;
                        padding:5px 50px;
                        border-radius: 40px;
                        @include break-max(768px){
                            background: none;
                            border: solid 1px #fff;
                        } 
                    }
                }
            }
        }
    }
    .click-mobile{
        display: none;
        position: absolute;
        z-index: 999;
        margin-top: 85px;
        margin-left: 18px;
        @include break-max(768px){
            display: none;
        }
    }
    .bg-mobile{
        display: none;
        position: absolute;
        width: 100%;
        height: 676px;
        @include break-max(768px){
            display: none;
            .bg{
                background:rgba(74,54,120,.7);
                width: 100%;
                height: 676px;
            }
        }
        
    }
    section.choose_model_container{
        background: url("../images/bg-maes.jpg");
        background-position: 50% 50%;
        background-size: cover;
        @include break-max(768px){
            background: url("../images/bg-clean.png");
            padding: 0 20px;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            padding-bottom: 20px;
        }
        .box-wrap{
            display: flex;
            flex-direction: column;
            margin: 150px 0;
            @include break-max(768px){
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%;
                margin: 0;
            }
            .box_choose_model{
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 5px;
                @include break-max(768px){
                    flex-direction: row-reverse;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 70px;
                    padding-bottom: 5px;
                    margin-bottom: 15px;
                }
                .title{
                    margin-bottom: 1vw;
                    @include break-max(768px){
                        width: 65%;
                    }
                    h4{
                        background: #ff628a;
                        font-family: 'Teko';
                        padding-top: 1vw;
                        color: #fff;
                        text-align: center;
                        font-size: 64px;
                        text-transform: uppercase;
                        font-weight: normal;
                        border-radius: 60px;
                        border-bottom-left-radius: 60px;
                        border-bottom-left-radius: 0;
                        padding: 15px 40px 0 40px;
                        white-space: nowrap;
                        @include break-max(768px){
                            font-size: 32px;
                            padding: 15px 40px 0 20px;
                            font-weight:100;
                        }
                        @include break-max(320px){
                            white-space: normal;
                        }  
                    }
                }
                .description{
                    align-self: center;
                    margin-right: 135px;
                    padding-left: 50px;
                    @include break-max(768px){
                        margin-right: 0;
                        padding-left: 0;
                    }
                    img{  
                        display: none;
                        @include break-max(768px){
                            margin-bottom: 4px;
                            margin-left: 1px;
                            display: block;
                        }
                    }
                    span {
                        font-family: 'Asap';
                        font-size: 16px;
                        color: #868f99;
                        @include break-max(768px){
                            display: none;
                        }
                    }
                }
            }
        }
        .mother-choose{
            display: flex;
            width: 100%;
            @include break-max(768px){
                display: flex;
                width: 100%;
                justify-content: center;
            }
            .content{
                display: flex;
                width: 100%;
                justify-content: center;
                @include break-max(768px){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    height: auto;
                    width: auto;
                }
                #mother1{
                    @include break-max(768px){
                        margin-bottom: 25px;
                        img{
                            width: 238px;
                        }
                    }
                    a{
                        display: block;
                        margin-top: 25px;
                        font-family: 'Teko';
                        font-size: 18px;
                        text-transform: uppercase;
                        text-align: center;
                        span{
                            color: #fff;
                            background: #ff628a;
                            padding: 5px 60px 3px;
                            border-radius: 40px;
                            display: inline-block;
                            margin-top: 30px;
                            @include break-max(768px){
                                display: none;
                            }
                        }
                    }
                }
                #mother2{
                    margin-left: 90px;
                    margin-right: 50px;
                    @include break-max(768px){
                        margin-left: 0;
                        margin-right: 0;
                        img{
                            width: 238px;
                        }
                    }
                    a{
                        display: block;
                        margin-top: 25px;
                        font-family: 'Teko';
                        font-size: 18px;
                        text-transform: uppercase;
                        text-align: center;
                        span{
                            color: #fff;
                            background: #ff628a;
                            padding: 5px 60px 3px;
                            border-radius: 40px;
                            display: inline-block;
                            margin-top: 30px;
                            @include break-max(768px){
                                display: none;
                            }
                        }
                    }
                }
            }
        }   
    }
    .box-steps{
        background: #47316f;
        display: flex;
        justify-content: center;
        padding: 35px 0;
        @include break-max(768px){
            padding: 50px 20px;
        }
        .steps-content{
            display: flex;
            width: 50%;
            justify-content: space-between;
            text-align: left;
            font-family: 'Teko';
            font-size: 27px;
            color: #fff;
            @include break-max(768px){
                width: 100%;
            }
            .passo{
                width:33%;
                text-transform: uppercase;
                p{
                    margin-left: 15px;
                    font-family: 'Teko';
                    font-size: 26px;
                    font-weight: 100;
                    @include break-max(768px){
                        margin-left: 10px;
                        font-size: 20px;
                    }
                }
                .bar{
                    width: 95%;
                    background:#a095b0;
                    height: 3px;
                    margin-top: 3px;
                }
                &.active .bar{
                    background:#fff;
                }
            }
        }
    }
    section.scene-choose-file{
        .box-choose-file{
            background: url("../images/bg-maes.jpg");
            display: flex;
            justify-content: center;
            background-size: cover;
            padding: 150px 0;
            align-content: center;
            background-position: 50% 50%;
            width: 100%;
            @include break-max(768px){
                background: url("../images/bg-clean.png");
                padding: 0 20px;
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                padding-bottom: 20px;
            }
            .box-wrap{
                display: flex;
                width: 60%;
                -ms-flex-item-align: center;
                align-self: center;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-align: center;
                align-items: center;   
                @include break-max(768px){
                    display: flex;
                    width: 100%;    
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: auto;
                    padding-top: 110px;
                } 
                .media{
                    width: 50%;
                    flex-shrink: 0;
                    @include break-max(768px){
                        width: 100%;
                    }
                    .model-doll{
                        display: none;
                    }
                }
                .text{
                    width: 50%;
                    margin-left: 10px;
                    padding-right: 40px;
                    @include break-max(768px){
                        width: 100%;
                        margin-left: 0;
                    }
                    p{
                        font-family: 'Asap';
                        color: #868f99;
                        font-size: 16px;
                        @include break-max(768px){
                            margin-top: 10px;
                            padding: 20px;
                            font-size: 14px;
                        }
                    }
                    a{
                        display: block;
                        margin-top: 60px;
                        font-family: 'Teko';
                        font-size: 22px;
                        text-transform: uppercase;
                        text-align: left;
                        margin-bottom: 65px;
                        @include break-max(768px){
                            text-align: center;
                            font-size: 20px;
                            margin-top: 30px;
                        }
                        span{
                            color: #fff;
                            background: #ff628a;
                            padding: 5px 20px;
                            border-radius: 40px;
                            cursor: pointer;
                        }
                    }
                    #uploadedImage{
                        display: none;
                    }
                }
            }
        }
    }
    section.setSize{
        background: url("../images/bg-maes.jpg");
        display: flex;
        justify-content: center;
        background-size: cover;
        padding: 150px 0;
        align-content: center;
        background-position: 50% 50%;
        width: 100%;
        position: relative;
        .work-tools{
            width: 100%;
            display: flex;
            background-color: #e2e2e2;
            justify-content: center;
            display: none;
            .increase{
                width: 60px;
                height: 60px;
                background-color: tomato;
            }
            .decrease{
                width: 60px;
                height: 60px;
                background-color: purple;
            }
            .merge{
                width: 60px;
                height: 60px;
                background-color: green;
            }
        }
        
        .box-wrap{
            position: relative;
            margin: 0 auto;
            max-width: 1000px;
            display: flex;
            @include break-max (768px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #canvas{
                @include break-max (768px){
                    display: none;
                }
            }
            #canvas_temp{
                display: none;
            }
            .work-container{
                position: relative;
                width: 465px;
                overflow: hidden;
                .work-box{
                    width: 346px;
                    position: relative;
                    max-height: 372px;
                    overflow: hidden;
                    margin: 0 60px;
                    height: 370px;
                    img{
                        max-width: none;
                        #mask{
                            display: none;
                        }
                    }
                    img#preview{
                        position: absolute;
                        top: 0px; left: 0px;
                        opacity: 1;
                        overflow: hidden;
                    }
                    img#photoOriginal{
                        display: none;
                    }
                    //#image-mask = real mask || .image-mask = temporary mask processor; 
                    img.mask{
                        display: none;
                    }
                    img.image-mask{
                        display: none;
                    }
                    img#image-mask{
                        position: absolute;
                        top: -18px;
                        left: -3px;
                        opacity: 1;
                        transition: opacity .3s ease-in-out;
                        &.transparent{
                            opacity: 0.6;
                            transition: opacity .3s ease-in-out;
                        }
                    }
                    .description{
                        color: #ff628a;
                        font-family: 'Teko';
                        font-size: 27px;
                        line-height: 27px;
                        text-transform: uppercase;
                        text-align: center;
                        position: absolute;
                        bottom: 110px;
                        width: 100%;
                    }
                }
                .rotate-btn{
                    position: absolute;
                    top: 100px;
                    left: 85px;
                    text-align: center;
                }
                .box-ranger{
                    width: 100%;
                    position: absolute;
                    height: 70px;
                    bottom: 160px;
                    text-align: center;
                    #rangeSelector{
                        z-index: 100;
                        -webkit-appearance: none;
                        height: 3px;
                        border-radius: 5px;
                        background: #ff628a;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: opacity .15s ease-in-out;
                        transition: opacity .15s ease-in-out;
                        @include break-max (768px){
                            margin-top: 60px;
                        }
                        &::-moz-range-thumb {
                            width: 35px;
                            height: 35px;
                            background: #FFFFFF;
                            border-radius: 50px;
                            border: #ff628a 2px solid;
                            cursor: pointer;
                        }
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 35px;
                            height: 35px;
                            background: #FFFFFF;
                            border-radius: 50px;
                            border: #ff628a 2px solid;
                            cursor: pointer;
                        }
                    }
                }
                a{
                    display: block;
                    font-family: 'Teko';
                    font-size: 22px;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 40px auto;
                    cursor: pointer;
                    span{
                        color: #fff;
                        background: #ff628a;
                        padding: 5px 60px 3px;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
    section.box-card-ready{
        background: url("../images/bg-maes.jpg");
        display: flex;
        background-position: 50% 50%;
        justify-content: center;
        background-size: cover;
        padding: 180px 0;
        align-content: center;
        width: 100%;
        @include break-max(768px){
            background: url("../images/bg-clean.png");
            padding: 65px 20px 20px;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            flex-direction: column;
        }
        .mobile{
            display: none;
            @include break-max(768px){
                display: block;
                width: 67%;
                align-self: flex-end;
                h4{
                    display: block;
                    background: #ff628a;
                    font-family: 'Teko';
                    padding-top: 1vw;
                    color: #fff;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: normal;
                    border-radius: 60px;
                    border-bottom-left-radius: 0;
                    padding: 15px 0px 0 5px;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
        }
        .box-wrap{
            display: flex;
            justify-content: center;
            @include break-max(768px){
                flex-direction: column;
                padding: 0 20px;
            }
            .text{
                width: 30%;
                margin-left: 50px;
                margin-right: 115px;
                @include break-max(768px){
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
                h4{
                    background: #ff628a;
                    font-family: 'Teko';
                    padding-top: 1vw;
                    color: #fff;
                    text-align: center;
                    font-size: 46px;
                    text-transform: uppercase;
                    font-weight: normal;
                    border-radius: 60px;
                    border-top-left-radius: 0;
                    padding: 15px 40px 0 40px;
                    @include break-max(768px){
                        display: none;
                    }
                }
                p{
                    font-family: 'Asap';
                    color: #868f99;
                    font-size: 16px;
                    padding: 20px;
                    margin-top: 20px;
                    @include break-max(768px){
                        text-align: center;
                        margin-top: 30px;
                        padding: 0 5px;
                        font-size: 14px;
                    }
                }
                a{
                    display: block;
                    margin-top: 60px;
                    font-family: 'Teko';
                    font-size: 22px;
                    text-transform: uppercase;
                    text-align: center;
                    @include break-max(768px){
                        font-size:20px;
                        margin-top: 30px;
                    }
                    span{
                        color: #fff;
                        background: #531f5a;
                        padding:5px 40px;
                        font-size: 22px;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}