.gallery{
    .box{
        display: flex;
        .media{
            width: 37.6%;
            img{
                width: 100%;
            }
        }
        .display{
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: 25%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
