#header{
    top: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 00%,transparent 00%,transparent 0%);
    transition: all 0.5s linear;
    @include break-max(1025px){
        padding: 0;
    }
    
    &.active, &.always_active{
        background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 70%,transparent 30%,transparent 100%);
        transition: all 0.5s linear;
        position: relative;
        .wrapper{
            nav{
                #menuToggle{
                    .logo{
                        img{
                            width: 100px;
                            transition: all 0.5s linear;
                        }
                    }
                    #menu{
                        margin-top: -33px;
                        padding-bottom: 15px;
                        a{
                            li{
                                color: #828C99;
                                transition: all 0.5s linear;
                                text-transform: uppercase;
                                &:hover{
                                    color: #1CA8E0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapper{
        nav{
            #menuToggle{
                display: flex;
                justify-content: space-between;
                @include break-max(1025px){
                    padding: 20px 15px;
                }
                .logo{
                    @include break-max(1025px){
                        float: left;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 75px;
                        padding: 10px 0;
                    }
                    img{
                        width: 149px;
                        transition: all 0.5s linear;
                        @include break-max(1025px){
                            width: 48px;
                            float: left;
                        }
                    }
                    p{
                        display: none;
                        @include break-max(1025px){
                            display: block;
                            float: left;
                            margin-left: 15px;
                            font-size: 20px;
                            color: #1CA8E0;
                            margin-top: 2px;
                            border-left: 2px solid rgba(255,255,255,0.7);
                            padding: 10px;
                        }
                    }
                }
                #menu{
                    width: 65%;
                    padding: 20px 0 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include break-max(1025px){
                        padding: 60px 0 0 0;
                        height: 768px;
                    }
                    a{
                        li{
                            font-family: 'Teko', sans-serif;
                            font-size: 20px;
                            color: #fff;
                            font-weight: normal;
                            transition: all 0.5s linear;
                            text-transform: uppercase;
                            &.active-scroll{
                                color: #828C99;
                                @include break-max(1025px){
                                    color: #fff;
                                }
                            }
                        }
                        &.btn_desktop{
                            @include break-max(1025px){
                                margin-top: 0px;
                            }
                            li{
                                background: #1CA8E0;
                                padding: 8px 35px 5px 35px;
                                border-radius: 36px;
                                color: #fff;
                                text-transform: uppercase;
                                @include break-max(1025px){
                                    background: none;
                                    padding: 0;
                                    margin-top: 0;
                                }
                            }
                        }
                        @include break-max(1025px){
                            padding: 10px 30px;
                            border-bottom: 1px solid #3966BF;
                            display: block;
                        }
                        &.mobile{
                            display: none;
                            &.btn{
                                border-radius: 8px;
                                width: 60%;
                                text-align: center;
                                margin-bottom: 20px;
                                background: #1CA8E0;
                                margin-left: 25px;
                                margin-top: 15px;
                            }
                            @include break-max(1025px){
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        #menuToggle input{
            display: none;
        }
        #menuToggle span{
            display: none;
        }
        @include break-max(1025px){
            #menuToggle
            {
                display: block !important;
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                -webkit-user-select: none;
                user-select: none;
            }
            #menuToggle .logo{
                opacity: 1;
                transition: all 0.5s linear;
            }
        
            #menuToggle input
            {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            
            cursor: pointer;
            
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            
            -webkit-touch-callout: none;
            }
        
            #menuToggle span
            {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: #fff;
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            }
        
            #menuToggle span:first-child
            {
            transform-origin: 0% 0%;
            }
        
            #menuToggle span:nth-last-child(2)
            {
            transform-origin: 0% 100%;
            }
            #menuToggle input:checked ~ span
            {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #fff;
            }

            #menuToggle input:checked ~ span:nth-last-child(3)
            {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
            }

            #menuToggle input:checked ~ span:nth-last-child(2)
            {
            transform: rotate(-45deg) translate(0, -1px);
            }
            #menuToggle input:checked ~ .logo
            {
                opacity: 0;
                transition: all 0.5s linear;
            }
        
            #menu
            {
                position: absolute;
                margin: 0;
                padding: 50px;
                top: 0;
                left: 0;
                padding-top: 125px;
                background: #1F3B72;
                list-style-type: none;
                -webkit-font-smoothing: antialiased;
                width: 100% !important;
                display: block !important;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            }
        
        
            /*
            * And let's slide it in from the left
            */
            #menuToggle input:checked ~ ul
            {
            transform: none;
            }
        }  
    }
}