.news {
    background-color: #F5F9FC;
    .wrapper {
        .bg_news{
            background: url("../images/home.png") no-repeat center/cover;
            height: 404px;
            width: 1366px;
            margin-left: -30px;
        }
        background-color: #FFF;
        .content_title {
            width: 1110px;
            text-align: justify;
            margin: 0 auto;
            h1 {
                font-weight: normal;
            }
            p {
                font-size: 14px;
                color: #828C99;
            }
            .content_links {
                display: flex;
                font-size: 14px;
                line-height: 22pt;
                padding: 30px 0;
            }

            .content_text {
                width: 794px;
                p {
                    padding: 10px 0;
                }
            }
        }

        .media {
            display: flex;
            font-size: 14px;
            line-height: 22pt;
            font-family: Asap, sans-serif;
            color: #828C99;
            li {
                display: flex;
                img {
                    margin: 0 10px;
                    width: 20px;
                    height: 20px;
                    float: left;
                }
                a {
                    color: #1F3B72;
                    font-family: 'Asap';
                    font-weight: normal;
                    margin: 0 10px;
                    border: 1px #ccc solid;
                    padding: 5px 15px;
                    border-radius: 10px;
                }

            }
            .publicado {
                width: 280px;
            }
        }
        .media-bottom {
            margin: 0 0 0 271px;
        }
    }
}
