.programs{
    background: #F5F9FC;
    padding: 50px 0;
    .wrapper{
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            box-shadow: 1px 13px 42px -13px rgba(0,0,0,0.75);
            margin-bottom: 30px;
            padding: 60px;
            @include break-max(1024px){
                padding: 0;
                flex-wrap: wrap;
            }
            &.inverter{
                flex-direction: row-reverse;
            }
            &.programs_slider{
                display: flex;
                flex-wrap: wrap;
                .item_slider{
                    display: flex !important;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    .item{
                        width: 50%;
                        @include break-max(1024px){
                            width: 100%;
                        }
                    }
                }
                .slick-dots{
                    display: flex !important;
                    justify-content: center;
                    margin: 30px auto;
                    position: absolute;
                    bottom: -70px;
                    left: 45%;
                    @include break-max(1024px){
                        left: 25%;
                    }
                    li{
                        font-size: 0;
                        width: 45px;
                        height: 6px;
                        background: rgba(130,140,153,0.5);
                        margin-left: 10px;
                        &:first-child{
                            margin-left: 0;
                        }
                        &.slick-active{
                            background: rgba(130,140,153,1);
                        }
                        button{
                            border: 0;
                        }
                    }
                }
            }
            .item{
                width: 50%;
                @include break-max(1024px){
                    width: 100%;
                }
                .text{
                    padding: 0 100px;
                    @include break-max(1024px){
                        padding: 30px;
                    }
                    h4{
                        font-family: $teko;
                        font-size: 46px;
                        font-weight: normal;
                        line-height: 48px;
                        margin-bottom: 20px;
                        @include break-max(1024px){
                            font-size: 34px;
                            line-height: 34px;
                        }
                        &.red{
                            color: #F95B53;
                        }
                        &.blue{
                            color: #1CA8E0;
                        }
                        &.green{
                            color: #62CFCF;
                        }
                    }
                    p{
                        font-size: 14px;
                        font-weight: normal;
                        color: #525B66;
                        font-family: $asap;
                    }
                    a{
                        margin-top: 30px;
                        width: 85%;
                        border-radius: 30px;
                        background: #F95B53;
                        padding: 7px 10px;
                        display: block;
                        color: #F5F9FC;
                        font-family: $teko;
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}