.programs{
    background: #F5F9FC;
    padding: 50px 0;
    .wrapper{
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            box-shadow: 1px 13px 42px -13px rgba(0,0,0,0.75);
            margin-bottom: 30px;
            padding: 60px;
            @include break-max(1024px){
                padding: 0;
                flex-wrap: wrap;
            }
            &.inverter{
                flex-direction: row-reverse;
            }
            &.programs_slider{
                display: flex;
                flex-wrap: wrap;
                .item_slider{
                    display: flex !important;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    .item{
                        width: 50%;
                        @include break-max(1024px){
                            width: 100%;
                        }
                    }
                }
                .slick-dots{
                    display: flex !important;
                    justify-content: center;
                    margin: 30px auto;
                    position: absolute;
                    bottom: -70px;
                    left: 45%;
                    @include break-max(1024px){
                        left: 25%;
                    }
                    li{
                        font-size: 0;
                        width: 45px;
                        height: 6px;
                        background: rgba(130,140,153,0.5);
                        margin-left: 10px;
                        &:first-child{
                            margin-left: 0;
                        }
                        &.slick-active{
                            background: rgba(130,140,153,1);
                        }
                        button{
                            border: 0;
                        }
                    }
                }
            }
            .item{
                width: 50%;
                @include break-max(1024px){
                    width: 100%;
                }
                .text{
                    padding: 0 100px;
                    @include break-max(1024px){
                        padding: 30px;
                    }
                    h4{
                        font-family: $teko;
                        font-size: 46px;
                        font-weight: normal;
                        line-height: 48px;
                        margin-bottom: 20px;
                        @include break-max(1024px){
                            font-size: 34px;
                            line-height: 34px;
                        }
                        &.red{
                            color: #F95B53;
                        }
                        &.blue{
                            color: #1CA8E0;
                        }
                        &.green{
                            color: #62CFCF;
                        }
                    }
                    p{
                        font-size: 14px;
                        font-weight: normal;
                        color: #525B66;
                        font-family: $asap;
                    }
                    a{
                        margin-top: 30px;
                        width: 85%;
                        border-radius: 30px;
                        background: #F95B53;
                        padding: 7px 10px;
                        display: block;
                        color: #F5F9FC;
                        font-family: $teko;
                        font-size: 20px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
            
            &.map-section{
                position: relative;
                margin-top: 70px;
                .item-office{
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: absolute;
                    background: #fff;
                    box-shadow: 1px 13px 42px -13px rgba(0,0,0,0.75);
                    margin-bottom: 30px;
                    padding: 40px;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    border-bottom-left-radius: 25px;
                    top: 330px;
                    left: -30px;
                    &.active{
                        display: flex;
                    }
                    &::before{
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: #FFFFFF;
                        content: "";
                        transform: rotateZ(45deg);                        
                        top: 50%;
                        right: -20px;
                        box-shadow: 15px -15px 25px -10px rgba(0,0,0,0.75);
                    }
                    
                    &[data-target="AFEGANISTAO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="NEPAL"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="BANGLADESH"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="LUTA_PELA_PAZ"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="GRA_BRETANHA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="IRLANDA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="COSTA_RICA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="TRINDAD_TOBAGO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="COLOMBIA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="PERU"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="SURINAME"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="BRASIL"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="DOMINICA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="BELIZE"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="MEXICO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="EUA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="LIBADO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="GANA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="SERRA_LEOA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="CONGO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="EGITO"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="UGANDA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="UENIA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="BOTSWANA"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="AFRICA_DO_SUL"]{
                        top: 270px;
                        left: 200px;
                    }
                    &[data-target="ZIMBABUE"]{
                        top: 270px;
                        left: 200px;
                    }
                    
                    .title{
                        font-family: $teko;
                        font-size: 20px;
                        color: #F95B53;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                    }
                    
                    .body{
                        padding-left: 20px;
                        p::before {
                            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                            color: red; /* Change the color */
                            font-weight: bold; /* If you want it to be bold */
                            display: inline-block; /* Needed to add space between the bullet and the text */
                            width: 1em; /* Also needed for space (tweak if needed) */
                            margin-left: -1em; /* Also needed for space (tweak if needed) */
                          }
                    }
                }
            }
        }
    }
}