.section_worth{
    background: url(../images/worth.png) no-repeat top center;
    width: 100%;
    position: relative;
    .wrapper{
        .box{
            display: flex;
            justify-content: space-between;
            text-align: justify;
            margin-bottom: 60px;
            @include break-max(768px){
                flex-direction: column;
            }
            .item_1{
                width: 60%;
                padding: 50px 100px;
                margin-top: 300px;
                @include break-max(768px){
                    display: none;
                }
                p{
                    margin-bottom: 30px;
                    font-family: 'Asap';
                    font-size: 14px;
                    color: #525B66;
                }
            }
            .item_2{
                width: 550px;
                box-shadow: -6px 8px 49px -13px rgba(0,0,0,0.55);
                height: 570px;
                border-radius: 15px;
                padding: 30px 50px;
                margin-top: 130px;
                background: #fff;
                border-bottom-right-radius: 0px;
                .mobile{
                    display: none;
                }
                @include break-max(768px){
                    width: 350px;
                    box-shadow: -6px 8px 49px -13px rgba(0,0,0,0.55);
                    height: auto;
                    border-radius: 15px;
                    padding: 30px;
                    margin: 220px 0 0 15px;
                    background: #fff;
                    border-bottom-right-radius: 0px;
                    .mobile{
                        display: block;
                    }
                }
                h4{
                    font-family: 'Teko';
                    font-size: 46px;
                    color: #F47249;
                    font-weight: 100;
                    margin-bottom: 15px;
                }
                img {
                    display: inline-block;
                    margin-right: 10px;
                }
                span {
                    font-family: 'Teko';
                    font-size: 20px;
                    color: #F47249;
                }
                p{
                  font-family:'Asap';
                  font-size: 14px;
                  margin-bottom: 20px;
                  color: #525B66;
                }
            }
        }
    }
}