.section_pilares{
    .wrapper{
        h2{
            font-family: $teko;
            color: #3966BF;
            font-size: 46px;
            font-weight: normal;
            padding: 70px 0 25px 0;
            text-align: center;
        }
        .box{
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            flex-wrap: nowrap;
            flex-direction: row;
            @include break-max(768px){
                flex-direction: column;
                flex-wrap: wrap;
                margin: 40px 0 0 0;
            }
            .item{
                width: 20%;
                background-color: #000;
                height: 430px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &[data-id="1"]{
                    background-color: #1CA8E0;
                }
                &[data-id="2"]{
                    background-color: #F47249;
                }
                &[data-id="3"]{
                    background-color: #62CFCF;
                }
                &[data-id="4"]{
                    background-color: #3966BF;
                }
                &[data-id="5"]{
                    background-color: #F95B53;
                }
                .top{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin-bottom: 25px;
                    }
                    h3{
                        font-family: $teko;
                        font-weight: lighter;
                        letter-spacing: 1px;
                        font-size: 29px;
                        color: #FFFFFF;
                    }
                }
                .bottom{
                    height: 50%;
                    padding: 0 25px;
                    p{
                        font-size: 13px;
                        color: #FFFFFF;
                        font-weight: lighter;
                    }
                }
                @include break-max(768px){
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}