.section_lifetransform{
    background: #FFF;
    padding: 50px 0;
    .wrapper{
        h3{
            text-align: center;
            font-family: 'Teko';
            font-size: 46px;
            color: #1F3B72;
            font-weight: 100;
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            padding: 60px;
            &.inverter{
                flex-direction: row-reverse;
            }
            .item{
                width: 50%;
                .media{
                    img{
                        border-radius: 15px;
                    }
                    
                }
                .text{
                    padding: 0 100px;
                    h4{
                        font-family: $teko;
                        font-size: 46px;
                        color: #1CA8E0;
                        font-weight: normal;
                    }
                    p{
                        font-size: 14px;
                        font-weight: normal;
                        color: #525B66;
                        font-family: 'Asap';
                        margin-top: 25px;
                    }
                    a{
                        margin-top: 30px;
                        width: 85%;
                        border-radius: 30px;
                        background: #F95B53;
                        padding: 7px 10px;
                        display: block;
                        color: #F5F9FC;
                        font-family: 'Teko';
                        font-size: 20px;
                        text-align: center;
                    }
                    .name{
                        h4{
                            color: #F95B53;
                        }
                        
                    }
                    span{
                        color: #B8C1CC;
                        font-family: 'Asap';
                        font-size: 16px;
                        font-weight: 100;
                    }
                }
            }
        }
        button{
            width: 308px;
            background: #3966BF;
            color: #fff;
            padding: 10px 0;
            border-radius: 30px;
            border: 0;
            font-family: 'Teko';
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            display: block;
        }
    }
}