.section_projects{
    width: 100%;
    background: #F5F9FC;
    padding: 50px 0;
    h4{
        text-align: center;
        font-family: 'Teko';
        font-size: 46px;
        color: #3966BF;
        font-weight: 500;
        padding-bottom: 25px;
        @include break-max(768px){
            display: none;
        }
    }
    .wrapper{
        .box-content{
            width: 100%;
            background: #fff;
            box-shadow: 1px 2px 10px 3px rgba(0,0,0,0.1);
            border-radius: 10px;
            .nav-box{
                display: flex;
                justify-content: space-between;
                .item{
                    width: 180px;
                    height: 90px;
                    background: #E6ECF2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Teko';
                    font-size: 24px;
                    color: #B8C1CC;
                    cursor: pointer;
                    &.active{
                        color: #3966BF;
                        background: #fff;
                    }
                    &:hover{
                        cursor: pointer;
                        color: #3966BF;
                        background: #fff;
                    }
                }
            }
            .content-box{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 40px 100px 40px 80px;
                @include break-max(768px){
                    flex-wrap: wrap;
                    padding: 30px;
                }
                .item-title{
                    @include break-max(768px){
                        width: 100%;
                    }
                    h5{
                        font-family: 'Teko';
                        font-size: 20px;
                        color:#11254D;
                        @include break-max(768px){
                            font-size: 16px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                    span{
                        font-family: 'Asap';
                        font-size: 30px;
                        color: #3966BF;
                        font-weight: bold; 
                        @include break-max(768px){
                            font-size: 22px;
                        }                       
                    }
                }
                .item{
                    @include break-max(768px){
                        width: 40%;
                        margin-top: 15px; 
                    }
                    h5{
                        font-family: 'Teko';
                        font-size: 20px;
                        color:#11254D;
                        @include break-max(768px){
                            font-size: 16px;
                            font-weight: 500; 
                        }
                    }
                    .content{
                        display: flex;
                        justify-content: space-between;
                        height: 45px;
                        @include break-max(768px){
                            flex-direction: column;
                        }
                        span{
                            font-family: 'Asap';
                            font-size: 14px;
                            color: #3966BF;
                            font-weight: 600; 
                            margin-top: 15px;
                            margin-right: 18px;   
                            @include break-max(768px){
                                margin: 0;
                                font-size: 12px;
                            }       
                        }
                        img{
                            align-self: center;
                            margin-right: 7px;
                            @include break-max(768px){
                                display: none;
                            }
                        }
                    }
                }
            }
            .border{
                border-bottom: solid 1px #B8C1CC;
                width: 87%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                @include break-max(768px){
                    display: none;
                }
            }
            .article-box{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 50px 80px;
                @include break-max(768px){
                    display: block;
                    padding: 0;
                }
                .media{
                    max-width: 50%;
                    @include break-max(768px){
                        max-width: 100%;
                    }
                    img{
                        max-width: 100%;
                        padding: 13px;
                        align-self: center;
                        @include break-max(768px){
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
                .text{
                    width: 50%;
                    padding:8px;
                    @include break-max(768px){
                        padding: 20px;
                        width: 100%;
                    }
                    p{
                        margin-bottom: 30px;
                        font-family: 'Asap';
                        font-size: 14px;
                        color: #525B66;
                    }  
                }
            }
        }
    }
}