.timeline{
    .wrapper{
        h4{
            color: #3966BF;
            font-family: $teko;
            font-size: 46px;
            font-weight: normal;
            padding: 0 30px;
        }
        p{
            color: #262C33;
            font-size: 14px;
            font-family: $asap;
            margin-bottom: 40px;
            padding: 0 30px;
            @include break-max(1025px){
                padding: 20px  30px;
            }
        }
    }
    .box{
        background:#8FAECE;
        padding: 50px;
        .slider{
            position: relative;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            .item{
                display: block;
                padding: 15px;
                height: 100%;
                min-height: 1px;
                box-sizing: border-box;
                background: #F5F9FC;
                box-shadow: -13px 16px 13px -13px rgba(0,0,0,0.5);
                margin-bottom: 30px;
                margin-left: 20px;
                .block_content{
                    display: block;
                    width: 280px;
                    float: left;
                    margin-left: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    &.reverse{
                        flex-direction: column-reverse;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                    .bar{
                        background: #b8c1cc;
                        width: 5px;
                        height: 60px;
                        align-self: center;
                        display: none;
                    }
                    .media{
                        display: block;
                        width: 280px;
                        height: 210px;  
                        &:first-child{
                            // margin-bottom: 65px;
                        }
                    }
                    .text{
                        display: block;
                        width: 280px;
                        height: 210px;
                        &:first-child{
                            // margin-bottom: 65px;
                        }
                        h5{
                            color: #3966BF;
                            font-family: $teko;
                            font-size: 46px;
                            font-weight: normal;
                        }
                        p{
                            color: #262C33;
                            font-size: 14px;
                            font-family: $asap;
                            line-height: 22px;
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }
}