.transparency{
    background: #F5F9FC;
    padding: 45px 0 80px 0;
    .wrapper{
        .box{
            h4{
                text-align: center;
                font-family: 'Teko';
                font-size: 46px;
                font-weight: 100;
                color: #1F3B72;
                margin-bottom: 20px;
            }
            .slide-title{
                h5{
                    color: #1F3B72;
                    font-family: 'Teko';
                    font-size: 30px;
                    font-weight: 100;
                    margin-bottom: 15px;
                }
            }
            .content{
                display: flex;
                justify-content: center;
                height: auto;
                margin-bottom: 45px;
                .item{
                    display: flex;
                    flex-direction: row;
                    width: 288px;
                    height: 146px;
                    background: #fff;
                    border: solid 1px #E6ECF2;
                    .item-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        padding: 20px;
                        .title{
                            img{
                                float:right;
                                align-self: center;
                            }
                            h5{
                                font-family: 'Asap';
                                font-size: 16px;
                                color: #525B66;
                            }
                        }
                        .date{
                            a{
                                float:right;
                                font-family: 'Teko';
                                font-size: 18px;
                                text-transform: uppercase;
                                color: #3966BF;
                            }
                            img{
                                float:right;
                                align-self: center;
                            }
                            span{
                                color: #B8C1CC;
                                font-family: 'Asap';
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

    }
}
    