.ambassadors
    .wrapper
        .box
            .media
                img(src="images/nicolaadams.jpg", alt="")
            .content_text
                h4 Embaixadores
                span Nicola Adams
                p Nicola Adams OBE é a mais bem sucedida boxeadora da Grã-Bretanha até hoje. Nas Olimpíadas de Londres 2012, ela se tornou um ícone após ganhar a primeira medalha de ouro no Boxe para seu país, um feito que ela repetiu em 2016 nas Olimpíadas do Rio de Janeiro tornando-se a primeira boxeadora britânica a defender com sucesso seu título olímpico por 92 anos.
                p Entre essas vitórias olímpicas, Nicola tornou-se campeã europeia e da Commonwealth e ganhou o Campeonato Mundial de 2016, assegurando títulos com grande êxito. Ganhar esses títulos no boxe amador fez com que ela tornasse-se uma boxeadora profissional e tem até o momento o recorde de três vitórias e nenhuma derrota.
                .destaque
                    p “Estou muito orgulhosa de ser Embaixadora da Luta pela Paz e apoiar essa organização fantástica com seu trabalho de realizar o potencial de jovens para prevenir a violência em suas comunidades. Tendo visitado a Luta pela paz tanto no Rio de Janeiro quanto em Londres me mostrou a real importância do trabalho que organização faz em escala global e estou muito satisfeita de ter a chance de ajudar a fazer a diferença na vida de jovens e encorajar mais jovens mulheres a fazer parte desses organização impressionante”.