.content_maes(ondragstart="return false;" ondrop="return false;")
    .scenes
        section.scene.introduction_container(data-scene=0)
            .box_introduction
                .introduction_content
                    h4 Mães Lutadoras
                    p O <strong>Dia das Mães</strong> está chegando e nós queremos te ajudar a mostrar para o mundo que sua mãe é uma verdadeira lutadora. Aqui você poderá criar um cartão para homenageá-la. É muito rápido e fácil. Vamos lá?
                    a.nextScene#start(href="#")
                        span Começar
        .click-mobile
            img(src="../images/button-mobile.png", alt="")
        .bg-mobile
            .bg
        section.scene.choose_model_container(data-scene=1)
            .box-wrap
                .box_choose_model
                    .title
                        h4 escolha o modelo
                    .description
                        span Pra começar, escolha qual dos dois modelos<br/> é mais parecido com a sua mãe.
                        img(src="../images/interrogation-dot.png", alt="")
                .mother-choose
                    .content
                        #mother1
                            a.chooseModelBtn(href="#" data-model='a') 
                                img(src="../images/mother01.png", alt="")
                                span É esse!
                        #mother2 
                            a.chooseModelBtn(href="#" data-model='b')
                                img(src="../images/mother02.png", alt="")
                                span É esse!
        section.scene.scene-choose-file(data-scene=2)
            .box-choose-file
                .box-wrap
                    .media
                        img.model-doll(src="../images/diadasmaes/model-a.png", alt="", style="width:519px;", data-model="a")
                        img.model-doll(src="../images/diadasmaes/model-b.png", alt="", style="width:519px;", data-model="b")
                    .text
                        p Envie uma foto de sua rainha. Mas atenção, importante que seja uma foto de rosto, para que se encaixe direitinho no cartão, ok?
                        a
                            span.btnChoseImage Escolher arquivo
                            input#uploadedImage(type="file")
        section.scene.setSize(data-scene=3)
            .work-tools
                .decrease -
                .increase +
                .merge pronto
            .box-wrap
                canvas#canvas(width="530" height="531")
                .work-container
                    .work-box#work-box
                        img#preview.preview(src="", alt="")
                        img#mask(src="../images/diadasmaes/mask.png")
                        img#image-mask(src="../images/diadasmaes/new-mask-black.png")
                        .description use a barra abaixo <br/>para ajustar a foto no cartão
                    .box-ranger
                        input#rangeSelector(type="range" min="120" max="600" value="400")
                    a#sendScene
                        span Assim!
        section.scene.box-card-ready(data-scene=4)
            .mobile
                h4 seu cartão está pronto!
            .box-wrap
                .media
                    img#finalImage(src="../images/mother2-choose.png", alt="")
                .text
                    h4 seu cartão está pronto!
                    p Agora é só salvar e compartilhar pra todo mundo ver. Ah, não se esqueça de usar a hashtag <strong>#MãesLutadoras</strong> ;)
                    a#saveFile(href="", download="Minha-Mae.png")
                        span clique aqui para salvar
                    p Aproveite e conheça um pouco mais sobre a Luta Pela Paz navegando pelo site.
        .box-steps
            .steps-content
                #passo1
                    p Passo 1
                    .bar#active
                        span
                #passo2
                    p Passo 2
                    .bar#active
                        span
                #passo3
                    p Passo 3
                    .bar