.content_maes
    .introduction_container
        .box_introduction
            .introduction_content
                h4 Mães Lutadoras
                p O <strong>Dia das Mães</strong> está chegando e nós queremos te ajudar a mostrar para o mundo que sua mãe é uma verdadeira lutadora. Aqui você poderá criar um cartão para homenageá-la. É muito rápido e fácil. Vamos lá?
                a(href="#" #start)
                    span Começar
    .choose_model_container
        .box-wrap
            .box_choose_model
                .title
                    h4 escolha o modelo
                .description
                    span Pra começar, escolha qual dos dois modelos<br/> é mais parecido com a sua mãe.
                    p ?
            .mother-choose
                .content
                    #mother1
                        img(src="../images/mother01.png", alt="")
                        a(href="") 
                            span É esse!
                    #mother2 
                        img(src="../images/mother02.png", alt="")
                        a(href="")
                            span É esse!
    .box-steps
        .steps-content
            #passo1
                p Passo 1
                .bar#active
                    span
            #passo2
                p Passo 2
                .bar#active
                span
            #passo3
                p Passo 3
                .bar
    .box-choose-file
        .box-wrap
            .media
                img(src="../images/mother2-choose.png", alt="")
            .text
                p Envie uma foto de sua rainha. Mas atenção, importante que seja uma foto de rosto, para que se encaixe direitinho no cartão, ok?
                a(href="")
                    span Escolher arquivo
    .box-steps
        .steps-content
            #passo1
                p Passo 1
                .bar#active
                    span
            #passo2
                p Passo 2
                .bar#active
                    span
            #passo3
                p Passo 3
                .bar
    .box-card-ready
        .mobile
            h4 seu cartão está pronto!
        .box-wrap
            .media
                img(src="../images/mother2-choose.png", alt="")
            .text
                h4 seu cartão está pronto!
                p Agora é só salvar e compartilhar pra todo mundo ver. Ah, não se esqueça de usar a hashtag <strong>#MãesLutadoras</strong> ;)
                a(href="")
                    span clique aqui
                p Aproveite e conheça um pouco mais sobre a Luta Pela Paz navegando pelo site.
    .box-steps
        .steps-content
            #passo1
                p Passo 1
                .bar#active
                    span
            #passo2
                p Passo 2
                .bar#active
                    span
            #passo3
                p Passo 3
                .bar