.content_maes
    .box-content
        img(src="../images/banner_maes.jpg")
        .introduction_maes
            .title
                h4 Mães Lutadoras
            p O <strong>Dia das Mães</strong> está chegando e nós queremos<br/> te ajudar a mostrar para o mundo que sua mãe<br/> é uma verdadeira lutadora. Aqui você poderá criar<br/> um cartão para homenageá-la. É muito rápido e fácil. Vamos lá?
            a(href="#" #start)
                span Começar