.content_maes
    .scenes
        section.scene.introduction_container(data-scene=0)
            .box_introduction
                .introduction_content
                    h4 Mães Lutadoras
                    p O <strong>Dia das Mães</strong> está chegando e nós queremos te ajudar a mostrar para o mundo que sua mãe é uma verdadeira lutadora. Aqui você poderá criar um cartão para homenageá-la. É muito rápido e fácil. Vamos lá?
                    a.nextScene#start(href="#")
                        span Começar
        .click-mobile
            img(src="../images/button-mobile.png", alt="")
        .bg-mobile
            .bg
        section.scene.choose_model_container(data-scene=1)
            .box-wrap
                .box_choose_model
                    .title
                        h4 escolha o modelo
                    .description
                        span Pra começar, escolha qual dos dois modelos<br/> é mais parecido com a sua mãe.
                        img(src="../images/interrogation-dot.png", alt="")
                .mother-choose
                    .content
                        #mother1
                            img(src="../images/mother01.png", alt="")
                            a.chooseModelBtn(href="#" data-model='a') 
                                span É esse!
                        #mother2 
                            img(src="../images/mother02.png", alt="")
                            a.chooseModelBtn(href="#" data-model='b')
                                span É esse!
        section.scene.scene-choose-file(data-scene=2)
            .box-choose-file
                .box-wrap
                    .media
                        img.model-doll(src="../images/mother01.png", alt="", style="width:519px;height:519px;", data-model="a")
                        img.model-doll(src="../images/mother2-choose.png", alt="", style="width:519px;height:519px;", data-model="b")
                        img#preview(src="", alt="")
                    .text
                        p Envie uma foto de sua rainha. Mas atenção, importante que seja uma foto de rosto, para que se encaixe direitinho no cartão, ok?
                        a
                            span.btnChoseImage Escolher arquivo
                            input#uploadedImage(type="file")
        section.scene.box-card-ready(data-scene=3)
            .mobile
                h4 seu cartão está pronto!
            .box-wrap
                .media
                    img(src="../images/mother2-choose.png", alt="")
                .text
                    h4 seu cartão está pronto!
                    p Agora é só salvar e compartilhar pra todo mundo ver. Ah, não se esqueça de usar a hashtag <strong>#MãesLutadoras</strong> ;)
                    a(href="")
                        span clique aqui
                    p Aproveite e conheça um pouco mais sobre a Luta Pela Paz navegando pelo site.
        .box-steps
            .steps-content
                #passo1
                    p Passo 1
                    .bar#active
                        span
                #passo2
                    p Passo 2
                    .bar#active
                        span
                #passo3
                    p Passo 3
                    .bar