.form_contact
    .wrapper
        h3 Fale conosco
        p Entre em contato conosco!</br> Faça seu comentário, dê sua sugestão e tire suas dúvidas. 

        .container_form_map
            .contato
                span.success Sua mensagem foi enviada com sucesso!
                form
                    input.name(type="text" placeholder="Nome")
                    input.email(type="text" placeholder="E-mail")
                    .form-pad
                    select
                        option(value="0") Selecione um assunto
                    .form-pad
                    textarea(placeholder="Escreva sua mensagem")
                    .form-pad
                    button.anexo ANEXAR ARQUIVO
                        img(src="../images/clip.png")
                    .form-pad
                    button.btn-send ENVIAR
            #map
                .map 
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.585026541786!2d-43.242093684565965!3d-22.85483748503824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9979995170a76b%3A0x7c73f93ee2509e61!2sLuta+pela+Paz!5e0!3m2!1spt-BR!2sbr!4v1547486343565" width="308" height="245" frameborder="0" style="border:0" allowfullscreen)
                    .lppaddress
                        span Academia Luta pela Paz - Rio de Janeiro
                        p Rua Teixeira Ribeiro, 900 - Maré, Rio de</br> Janeiro RJ / Brasil, CEP: 210.44-251
                .section_address
                    .address
                        ul
                            li Academia Luta pela Paz – Londres
                                span Woodman Street London, E16 2LS - England
                            li Programa Comunidades Seguras – Kingston
                                span 7 Harbour Street, Kingston - Jamaica
                            li Programa Comunidades Seguras – Cidade do Cabo
                                span 302 Salt Circle, 19 Kent Street - Cape Town, 7925 - South Africa
                            li Novo Endereço
                                span Lorem Ipsum lorem ipsum lorem ipsum