.wrapper
    h1.color-navy-blue Fale Conosco
    p Entre em contato conosco!
    p Faça seu comentário, dê sua sugestão e tire suas dúvidas.

    .contato
        form
            input.name(type="text" placeholder="Nome")
            input.email(type="text" placeholder="Email")
            .form-pad
            select
                option(value="0") Selecione um assunto
            .form-pad
            textarea(placeholder="Escreva sua mensagem")
            .form-pad
            button.anexo ANEXAR ARQUIVO
                img(src="../images/clip.png")
            .form-pad
            button.btn-send ENVIAR