.wrapper
    h1.color-navy-blue(style="margin: 0 auto;") Fale Conosco
    p Entre em contato conosco!
    p Faça seu comentário, dê sua sugestão e tire suas dúvidas.

    .container_form_map
        .contato
            form
                input.name(type="text" placeholder="Nome")
                input.email(type="text" placeholder="Email")
                .form-pad
                select
                    option(value="0") Selecione um assunto
                .form-pad
                textarea(placeholder="Escreva sua mensagem")
                .form-pad
                button.anexo ANEXAR ARQUIVO
                    img(src="../images/clip.png")
                .form-pad
                button.btn-send ENVIAR
        #map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.585026541786!2d-43.242093684565965!3d-22.85483748503824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9979995170a76b%3A0x7c73f93ee2509e61!2sLuta+pela+Paz!5e0!3m2!1spt-BR!2sbr!4v1547486343565" width="308" height="244" frameborder="0" style="border:0" allowfullscreen)
            ul
                li Academia Luta pela Paz - Rio de Janeiro
                li
                    ul
                        li Rua Teixeira Ribeiro, 900 - Maré, Rio de Janeiro RJ / Brasil, CEP: 210.44-251

        .section_address
            ul
                li Academia Luta pela Paz – Londres
                ul
                    li Woodman Street London, E16 2LS - England

            ul
                li Programa Comunidades Seguras – Kingston
                ul
                    li 7 Harbour Street, Kingston - Jamaica

            ul
                li Programa Comunidades Seguras – Cidade do Cabo
                ul
                    li 302 Salt Circle, 19 Kent Street - Cape Town, 7925 - South Africa
.section_bg
    .wrapper
        .content_text
            h2 Quer colaborar?
            p Doando mensalmente para a Luta pela paz, você apoia jovens moradores de comunidades que sofrem com o crime e a violência a desenvolverem seu potencial. Clique no link abaixo, faça a sua doação e nos ajude a fazer um mundo com mais paz.
            a(href='#') Apoie nossa Luta