.gallery
    .box
        .media
            img(src="images/galery_1.jpg", alt="")
        .display
            .item
                img(src="images/galery_2.jpg", alt="")
            .item
                img(src="images/galery_3.jpg", alt="")
            .item
                img(src="images/galery_4.jpg", alt="")
            .item
                img(src="images/galery_5.jpg", alt="")
            .item
                img(src="images/galery_2.jpg", alt="")
            .item
                img(src="images/galery_3.jpg", alt="")
            .item
                img(src="images/galery_4.jpg", alt="")
            .item
                img(src="images/galery_aaaa5.jpg", alt="")