header#header
    .wrapper
        .menu
            .logo
                img(src="images/logo.png" alt="")
            .item
                nav
                    #menu-toogle
                        input(type="checkbox")
                        span
                        span
                        span
                    ul
                        li
                            a(href="#") Quem somos
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Nossos Números
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Sobre a Cedae Saúde
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Diretoria
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Missão
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Estatuto
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Regulamento
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Organograma
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Empresas Associadas
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Empresas Patrocinadoras
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Marca
                        li 
                            a(class="ScrollSuave" href="#") Associados
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Portal do Associado
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Cedae Saúde Notícias
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Plano
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Perguntas e Respostas
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Programas de Saúde
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Autorizações
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Conheã seu Cartão
                                    li
                                        a(class="ScrollSuave" href="#" alt="") 2º via de Boleto
                        li 
                            a(class="ScrollSuave" href="#") Prestadores
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Área do credenciado
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Datas e Prazos
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Critérios de Credenciamento – PF
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Análise de Currículo – PF
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Guias e Formulários; Autorizações
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Tabela TUSS
                        li 
                            a(class="ScrollSuave" href="#") Notícias
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Notícias
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Colunas
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Dicas de Saúde
                        li 
                            a(class="ScrollSuave" href="#") Portal TISS
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Login
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Manual Portal TISS
                        li 
                            a(class="ScrollSuave" href="#") Contato
                            .dropdown-content
                                ul
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Fale Conosco
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Trabalhe Conosco
                                    li
                                        a(class="ScrollSuave" href="#" alt="") Ouvidoria
                        li 
                            a.last_icon(href="#" alt="") Fale com a Ouvidoria
                        a.login(href="#" alt="") Entrar