header#header
    .wrapper
        nav(role="navigation")
            #menuToggle
                input(type="checkbox")
                span
                span
                span
                .logo
                    img(src="images/logo.png", alt="")
                    p LUTA PELA PAZ
                ul#menu
                    a.mobile.btn(href="#")
                        li DOE AGORA                
                    a(href="#")
                        li QUEM SOMOS
                    a(href="#")
                        li O QUE FAZEMOS
                    a(href="#")
                        li NOSSAS CONQUISTAS
                    a(href="#")
                        li FALE CONOSCO
                    a(href="#")
                        li COMO COLABORAR
                    a.btn_desktop(href="#")
                        li APOIE NOSSA LUTA
                    a.mobile(href="#")
                        li NOVIDADES
                    a.mobile(href="#")
                        li ALIANÇA LUTA PELA PAZ
                    a.mobile(href="#")
                        li FIGHT FOR PEACE