header#header
    link(href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet")
    .wrapper
        .menu
            .logo
                img(src="images/logo.png" alt="")
            .item
                nav
                    ul
                        li
                            a(href="#") QUEM SOMOS
                        li
                            a(href="#") O QUE FAZEMOS
                        li
                            a(href="#") NOSSAS CONQUISTAS
                        li
                            a(href="#") FALE CONOSCO
                        li
                            a(href="#") COMO COLABORAR
                        li
                            button(type='button').btn-blue APOIE NOSSA LUTA

        br
        .section_header
            h2.color-navy-blue  Por um mundo com mais paz, justiça e solidariedade
            br
            p A Luta pela Paz é uma organização internacional sem fins lucrativos que tem como missão realizar o potencial de jovens trabalhando com eles pela prevenção da violência nas comunidades em que vivem.
            br
            button.btn-dark-blue(style='margin-left:20%') APOIE NOSSA LUTA
