header#header
    .wrapper
        nav(role="navigation")
            #menuToggle
                input(type="checkbox")
                span
                span
                span
                .logo
                    img(src="images/logo.png", alt="")
                    p LUTA PELA PAZ
                ul#menu
                    a(href="#")
                        li QUEM SOMOS
                    a(href="#")
                        li O QUE FAZEMOS
                    a(href="#")
                        li NOSSAS CONQUISTAS
                    a(href="#")
                        li FALE CONOSCO
                    a(href="#")
                        li COMO COLABORAR
                    a(href="#")
                        li APOIE NOSSA LUTA