.institucional
    .wrapper
        h4 Institucional
        .box
            .item
                span Diretoria Luta pela Paz
                .equipe
                    .person
                        h5 Luke Dowdney 1 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Juliana Tibau 2 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Christian Nacht 3 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 James Sinclair 4
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Gabriela Pinheiro 5 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Gustavo Horta Ramos 6
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                span Conselho Fiscal Luta pela Paz
                .equipe
                    .person
                        img(src="images/media_diretoria.jpg")
                        h5 Luke Dowdney 1 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        img(src="images/media_diretoria.jpg")
                        h5 Luke Dowdney 2 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        img(src="images/media_diretoria.jpg")
                        h5 Luke Dowdney3 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
            .item
                span Diretoria Luta pela Paz
                .equipe.personOrder
                    .person
                        h5 Luke Dowdney 1 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Juliana Tibau 2 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Christian Nacht 3 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 James Sinclair 4
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Gabriela Pinheiro 5 
                        span Fundador & Diretor Presidente
                        p Luta pela Paz
                    .person
                        h5 Gustavo Horta Ramos 6
                        span Fundador & Diretor Presidente
                        p Luta pela Pazs