.newsletter
    .wrapper
        .box
            .news-title
                img(src="../images/newsletter.png", alt="")
                h4 Newsletter
                span Não perca nada que acontece na Luta pela Paz.
            .newsletter-input
                form
                    input.e-mail(type="text" placeholder="E-mail")       
                    input.senha(type="password" placeholder="Senha")
                    button.enviar enviar

        