.newsletter
    .wrapper
        .box
            .news-title
                img(src="../images/newsletter.png", alt="")
                h4 Newsletter
                span Não perca nada que acontece na Luta pela Paz.
            .newsletter-input
                form
                    .e-mail
                        input(type="text" placeholder="E-mail")
                    .senha
                        input(type="password" placeholder="Senha")
                    .enviar
                        button enviar

        