.numbers_home
    .box
        .destaque
            .first
                .media
                    img(src="images/numbers_1.png" alt="")
                a.btn_numbers(href="#") acompanhe nossas conquistas
        .display
            .second
                .media
                    img(src="images/numbers_2.png", alt="")
            .third
                .media
                    img(src="images/numbers_3.png", alt="")
            .quarter
                .media
                    img(src="images/numbers_4.png", alt="")
            .fifth
                .media
                img(src="images/numbers_5.png", alt="")