.numbers_home
    .wrapper
        .display
            .item.first
                .media
                    img(src="images/destaque_avatar.png" alt="")
                .content_text
                    span Mais de
                    h4 250 mil Pessoas impactadas
                    span até 2017 através de
                    p Academias, Aliança Luta pela Paz e
                    p Programas Comunidades Seguras
                a.btn_numbers(href="#") acompanhe nossas conquistas
            .item.second
                .content_text
                    span Mais de
                    h4 160 <span><strong>organizações treinadas</strong>e mais de</span>
                .media
                    img(src="images/avatar_1.png" alt="")
                .content_text
                    h4 39 mil <span><strong>jovens impactados</strong></span>
                    span em 2017 através dos parceiros da Aliança Luta Pela Paz
            .item.third
                .content_text
                    span mais de <img src="images/avatar_2.png" alt="">
                    h4 2900 <span><strong>crianças e jovens</strong><span>
                    span impactados diretamente em
                    p nossas Academias <span>em 2017</span>
            .item
            .item