.numbers_home
    .box
        .destaque
            .first
                .media
                    img.desktop(src="images/numbers_1.png" alt="")
                    img.mobile(src="images/numbers_2_mobile.png", alt="")
                a.btn_numbers(href="#") acompanhe nossas conquistas
        .display
            .second
                .media
                    img.desktop(src="images/numbers_2.png", alt="")
                    img.mobile(src="images/numbers_1_mobile.png", alt="")

            .third
                .media
                    img.desktop(src="images/numbers_3.png", alt="")
                    img.mobile(src="images/numbers_3_mobile.png", alt="")
            .quarter
                .media
                    img.desktop(src="images/numbers_4.png", alt="")
                    img.mobile(src="images/numbers_4_mobile.png", alt="")
            .fifth
                .media
                    img.desktop(src="images/numbers_5.png", alt="")
                    img.mobile(src="images/numbers_5_mobile.png", alt="")