.numbers_home
    .wrapper
        .display
            .item.first
                .media
                    img(src="images/destaque_avatar.png" alt="")
                .content_text
                    span.lighter Mais de
                    h4 250 mil <span>Pessoas impactadas</span>
                    span.lighter.bottom até 2017 através de
                    span.bold Academias, Aliança Luta pela Paz e
                    span.bold Programas Comunidades Seguras
                a.btn_numbers(href="#") acompanhe nossas conquistas
            .item.second
                .content_text
                    span Mais de
                    h4 160 <span><strong>organizações</br>treinadas</strong> e mais de</span>
                .media
                    img(src="images/avatar_1.png" alt="")
                .content_text.box_1
                    h4 39 mil <span><strong>jovens impactados</strong></span>
                    span em 2017 através dos parceiros da Aliança Luta Pela Paz
            .item.third
                .content_text
                    span mais de <img src="images/avatar_4.png" alt="">
                    h4 2900 <span><strong>crianças <br>e jovens</strong></span>
                    span impactados diretamente em
                    span <strong>nossas Academias</strong> em 2017
            .item.fourth
                .media
                    img(src="images/avatar_3.png")
                .content_text
                    span Mais de
                    h4 1700 <strong>jovens</strong>
                    span impactados pelos
                    span <strong> Programas Comunidade Seguras
                    span junto dos nossos mais de <strong>70 parceiros</strong>
            .item.fifth
                h4 1090 pessoas atendidas <span>em</span>
                span <strong>Feirões de Empregabilidade</strong>