.partners
    .wrapper
        h4 Nossos parceiros
        .box
            .menu_partners
                .item#global.active
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                    a(href="#") Conheça <img src="images/arrow_partners.png">
                .item#brasil
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                    a(href="#") Conheça <img src="images/arrow_partners.png">
                .item#reino
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                    a(href="#") Conheça <img src="images/arrow_partners.png">
                .item#internacional
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                    a(href="#") Conheça <img src="images/arrow_partners.png">
            .content_partners
                span Nossos parceiros globais apoiam nosso trabalho tanto no Brasil quanto no Reino Unido, fazendo nosso impacto ainda maior.
                .media
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")