.partners
    .wrapper
        h4 Nossos parceiros
        .box#tabs
            .menu_partners
                .item#global.active(data-id="tabs-1")
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                        span Conheça
                            img(src="images/arrow_partners.png")
                .item#brasil(data-id="tabs-2")
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                        span Conheça
                            img(src="images/arrow_partners.png")
                .item#reino(data-id="tabs-3")
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                        span Conheça
                            img(src="images/arrow_partners.png")
                .item#internacional(data-id="tabs-4")
                    .media_title
                        img(src="images/global.png", alt="")
                        span Global oficial
                        span Conheça
                            img(src="images/arrow_partners.png")
            .content_partners#tabs-1
                span Nossos parceiros globais apoiam nosso trabalho tanto no Brasil quanto no Reino Unido, fazendo nosso impacto ainda maior.
                .media
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
            .content_partners#tabs-2
                span Nossos parceiros globais apoiam nosso trabalho tanto no Brasil quanto no Reino Unido, fazendo nosso impacto ainda maior.
                .media
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
            .content_partners#tabs-3
                span Nossos parceiros globais apoiam nosso trabalho tanto no Brasil quanto no Reino Unido, fazendo nosso impacto ainda maior.
                .media
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
            .content_partners#tabs-4
                span Nossos parceiros globais apoiam nosso trabalho tanto no Brasil quanto no Reino Unido, fazendo nosso impacto ainda maior.
                .media
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")
                    .item_media
                        img(src="images/parceiro_media.png", alt="")