.programs
    .wrapper
        .box
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    h4.red Academias
                    p As nossas Academias no Rio de Janeiro e em Londres combinam todas as vertentes metodológicas da organização em um único local. São implementados projetos de prevenção de violência nos níveis primário, secundário e terciário. Nossos programas utilizam a metodologia dos Cinco Pilares, combinada com Desenvolvimento Pessoal e a Teoria da Mudança. Os serviços são adaptados para combinar as opções e as influências que os indivíduos necessitam para lidar com problemas multi-causais e múltiplos fatores de risco.
                    a(href="#") Saiba mais sobre as academias
        .box.inverter
            .item
                .media
                    img(src="images/alianca.png", alt="")
            .item
                .text
                    h4.blue Aliança Luta pela Paz
                    p A Aliança Luta pela Paz é uma comunidade de prática contínua para organizações que foram treinadas na nossa metodologia e que acreditam no poder de esportes de luta, educação e desenvolvimento pessoal para trazer mudanças positivas para as vidas de jovens que vivem em comunidades desfavorecidas. Desde 2011, já treinamos mais de 160 organizações em 25 países ao redor do mundo.
        .box.programs_slider
            .item_slider
                .item
                    .media
                        img(src="images/jamaica1.png", alt="")
                .item
                    .text
                        h4.green Programa Comunidades Seguras
                        p Em 2015, a Luta pela Paz começou a executar o Programa Comunidades Seguras (PCS) em Kingston, Jamaica. Por meio de uma equipe local sediada em Kingston, a atuamos como uma organização de apoio, trabalhando em conjunto com as atores locais para colaborar na redução da violência juvenil. Ao longo dos anos, uma série de projetos vem sendo concebida com base nos Cinco Pilares da Luta pela Paz, envolvendo mais parceiros de todos os setores ao longo do tempo. A equipe da Luta pela Paz na Jamaica atua como a organização de suporte.
            .item_slider
                .item
                    .media
                        img(src="images/jamaica2.png", alt="")
                .item
                    .text
                        h4.green Programa Comunidades Seguras
                        p O programa é aberto a todos os jovens, com idades entre 7 e 29 anos, que vivem em comunidades afetadas pela violência, mas foca naqueles jovens que estão mais envolvidos na violência.Todas as parcerias e atividades desenvolvidas nos programas da Luta pela Paz na Jamaica estão alinhadas a uma agenda comum, empregam métricas compartilhadas e são baseadas em uma Teoria da Mudança compartilhada.
            .item_slider
                .item
                    .media
                        img(src="images/jamaica3.png", alt="")
                .item
                    .text
                        h4.green Programa Comunidades Seguras
                        p Em 2016, a Luta pela Paz começou o Programa Comunidades Seguras (PCS) na Cidade do Cabo, na África do Sul. Por meio de uma equipe local sediada na Cidade do Cabo, atuamos como uma organização de apoio, trabalhando ao lado de atores locais para colaborar na redução da violência juvenil.O programa inicia, coordena, fortalece e integra programas de redução da violência juvenil em três comunidades afetadas por gangues: Manenberg, Guguelethu e Delft.
            .item_slider
                .item
                    .media
                        img(src="images/jamaica4.png", alt="")
                .item
                    .text
                        h4.green Programa Comunidades Seguras
                        p Todas as parcerias e atividades desenvolvidas estão alinhadas a uma agenda comum, empregam métricas compartilhadas e são baseadas em uma Teoria da Mudança compartilhada.Em 2017, as atividades do Programa Comunidades Seguras impactaram diretamente 540 jovens e 137 adultos.