.programs
    .wrapper
        .box
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    h4 Academias
                    p As nossas Academias no Rio de Janeiro e em Londres combinam todas as vertentes metodológicas da organização em um único local. São implementados projetos de prevenção de violência nos níveis primário, secundário e terciário. Nossos programas utilizam a metodologia dos Cinco Pilares, combinada com Desenvolvimento Pessoal e a Teoria da Mudança. Os serviços são adaptados para combinar as opções e as influências que os indivíduos necessitam para lidar com problemas multi-causais e múltiplos fatores de risco.
                    a(href="#") Saiba mais sobre as academias
        .box.inverter
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    h4 Academias
                    p As nossas Academias no Rio de Janeiro e em Londres combinam todas as vertentes metodológicas da organização em um único local. São implementados projetos de prevenção de violência nos níveis primário, secundário e terciário. Nossos programas utilizam a metodologia dos Cinco Pilares, combinada com Desenvolvimento Pessoal e a Teoria da Mudança. Os serviços são adaptados para combinar as opções e as influências que os indivíduos necessitam para lidar com problemas multi-causais e múltiplos fatores de risco.
                    a(href="#") Saiba mais sobre as academias