.section_worth
    .wrapper
        .box
            .item_1
                p Além dos Cinco Pilares, nossa abordagem é conduzida por cinco valores que sustentam todas as áreas do nosso trabalho.
                p As Academias atendem os jovens das comunidades onde estão localizadas, e também sistematizam e codificam esses programas para que possam atuar como um centro de treinamento para organizações parceiras dentro da Aliança Luta pela Paz. Além disso, constroem parcerias locais para fornecer serviços adicionais não cobertos pelas áreas-chave da metodologia dos Cinco Pilares.
                p Nossas Academias promovem programas e projetos-pilotos inovadores, baseados sempre na nossa metodologia, buscando fornecer aos jovens o suporte e apoios necessários para seu desenvolvimento.
            .item_2
                h4 Nossos Valores
                img(src="../images/abraco.png", alt="")
                span Abraço
                p Acreditamos em uma sociedade sem exclusão em que todas as pessoas são bem vindas.
                img(src="../images/coragem.png", alt="")
                span Coragem   
                p Trabalhamos onde há necessidade e nos orgulhamos de estarmos prontos para trabalhar em prol da paz.
                img(src="../images/solidariedade.png", alt="")
                span Solidariedade  
                p Trabalhamos unidos com nossa equipe, jovens e comunidade. 
                img(src="../images/inspiracao.png", alt="")
                span Inspiração 
                p Pretendemos inspirar nossos jovens e sermos inspirados por eles.
                img(src="../images/campeao.png", alt="")
                span Campeão
                p Trabalhamos com pragmatismo e preparo para sermos os melhores em tudo que fazemos.