.section_pilares
    .wrapper
        h2 Nossos Pilares
        .box
            - for(i=1;i<=5;i++)
                .item(data-id=i)
                    .top
                        img(src="./images/academia-i-"+i+".png")
                        h3 Boxe e artes marciais
                    .bottom
                        p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.