.section_partnership
    .wrapper
        .box-container
            .box-content
                h4 Empresas e Fundações
                p  Seja parceiro da Luta pela Paz e engaje-se na transformação da vida dos jovens. Existem inúmeras maneiras de empresas apoiarem a Luta pela Paz, através de relacionamentos de vários níveis que assegurem que tanto a empresa quanto os jovens obterão os melhores benefícios com a parceria. 
                span Veja como você pode nos apoiar, sendo empresa ou fundação:
                ul
                    li
                        span Lei de Incentivo ao Esporte;
                    li
                        span Financiamento institucional (irrestrito);
                    li
                        span Doação de até 1% do Imposto de Renda por empresas tributadas por Lucro Real;

                    li
                        span Áreas específicas de apoio focado.
                    li
                        span Escolhendo a Luta pela Paz como organização do ano;

                    li
                        span Mobilização de funcionários para captar fundos;
                    li
                        span Apoio probono;
                    li
                        span Voluntariado;
                    li
                        span Doação única;

                    li
                        span Editais;
                span Entre em contato a nossa equipe para se tornar um parceiro da Luta pela Paz.
            .box-form
                h4 Quer ser nosso parceiro?
                p Entre em contato conosco! Faça seu comentário, dê sua sugestão e tire suas dúvidas.
                span.success Sua mensagem foi enviada com sucesso!
                form
                    input.name(type="text" placeholder="Nome")
                    input.email(type="text" placeholder="E-mail")
                    .form-pad
                    textarea(placeholder="Escreva sua mensagem")
                    .form-pad
                    button.anexo ANEXAR ARQUIVO
                        img(src="../images/green-clip.png")
                    .form-pad
                    button.btn-send ENVIAR