.section_pilares
    .wrapper
        h2 Nossos Pilares
        .box
            - for(i=1;i<=5;i++)
                .item(data-id=i)
                    .top
                        img(src="./images/academia-i-"+i+".png")
                        h3 Boxe e artes marciais
                    .bottom
                        p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.
        .mobile-box
            .item
                .top(data-id="tabs-1")
                    img(src="../images/boxe-mobile.png", alt="")
                    h3 Boxe e artes marciais
                    img#arrow(src="../images/arrow-mobile.png", alt="")
                .bottom#tabs-1
                    p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.
            .item
                .top(data-id="tabs-2")
                    img(src="../images/educacao-mobile.png", alt="")
                    h3 Educação
                    img#arrow(src="../images/arrow-mobile.png", alt="")
                .bottom#tabs-2
                    p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.
            .item
                .top(data-id="tabs-3")
                    img(src="../images/empregabilidade-mobile.png", alt="")
                    h3 Empregabilidade
                    img#arrow(src="../images/arrow-mobile.png", alt="")
                .bottom#tabs-3
                    p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.
            .item
                .top(data-id="tabs-4")
                    img(src="../images/suportesocial-mobile.png", alt="")
                    h3 Suporte social
                    img#arrow(src="../images/arrow-mobile.png", alt="")
                .bottom#tabs-4
                    p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.    
            .item
                .top(data-id="tabs-5")
                    img(src="../images/liderancajuvenil-mobile.png", alt="")
                    h3 Liderança juvenil
                    img#arrow(src="../images/arrow-mobile.png", alt="")
                .bottom#tabs-5
                    p Esses esportes promovem respeito, disciplina, autocontrole, sentimento de pertencimento, autoestima, além de atraírem os jovens para participarem dos projetos.        