.section_lifes
    .wrapper
        h2 Vidas Transformadas
        .box
            .item
                .media
                    img(src="../images/raissa.jpg")
                .content
                    h3 Raissa Lima
                    span Aluna e Monitora de judô
                    p “A Luta pela Paz é o ponto mais positivo que a gente tem aqui na Maré. Ela me apoiou muito na questão familiar, que era muito difícil, na questão profissional e na educativa.”
            .item
                .media
                    img(src="../images/raissa.jpg")
                .content
                    h3 Raissa Lima
                    span Aluna e Monitora de judô
                    p “A Luta pela Paz é o ponto mais positivo que a gente tem aqui na Maré. Ela me apoiou muito na questão familiar, que era muito difícil, na questão profissional e na educativa.”
            .item
                .media
                    img(src="../images/raissa.jpg")
                .content
                    h3 Raissa Lima
                    span Aluna e Monitora de judô
                    p “A Luta pela Paz é o ponto mais positivo que a gente tem aqui na Maré. Ela me apoiou muito na questão familiar, que era muito difícil, na questão profissional e na educativa.”
            .item
                .media
                    img(src="../images/raissa.jpg")
                .content
                    h3 Raissa Lima
                    span Aluna e Monitora de judô
                    p “A Luta pela Paz é o ponto mais positivo que a gente tem aqui na Maré. Ela me apoiou muito na questão familiar, que era muito difícil, na questão profissional e na educativa.”
        a.btn_more(href="#") Acompanhe