.section_news
    .wrapper
        h1 Notícias Relacionadas
        .box
            .item
                .media
                    img(src="../images/news_photo1.png")
                .content
                    .square_content
                        .square.square-red
                        span.color-red RIO DE JANEIRO
                    h3.color-navy-blue Excepteur sint occaecat cupidatat non proident sunt in culpa ipsum.
                    p.color-light-grey Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim iD est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
                    span.color-red SAIBA MAIS >
            .item
                .media
                    img(src="../images/news_photo1.png")
                .content
                    .square_content
                        .square.square-light-blue
                        span.color-medium-blue RIO DE JANEIRO
                    h3.color-navy-blue Excepteur sint occaecat cupidatat non proident sunt in culpa ipsum.
                    p.color-light-grey Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim iD est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
                    span.color-medium-blue SAIBA MAIS >
            .item
                .media
                    img(src="../images/news_photo1.png")
                .content
                    .square_content
                        .square.square-orange
                        span.color-orange RIO DE JANEIRO
                    h3.color-navy-blue Excepteur sint occaecat cupidatat non proident sunt in culpa ipsum.
                    p.color-light-grey Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim iD est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
                    span.color-orange   SAIBA MAIS >
            .item
                .media
                    img(src="../images/news_photo1.png")
                .content
                    .square_content
                        .square.square-blue
                        span.color-dark-blue RIO DE JANEIRO
                    h3.color-navy-blue Excepteur sint occaecat cupidatat non proident sunt in culpa ipsum.
                    p.color-light-grey Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim iD est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
                    span.color-dark-blue SAIBA MAIS >