.section_projects
    h4 Nossos Programas
    .wrapper
        .box-content    
            .nav-box
                .item-active
                    span Atletas da Paz
                .item
                    span Twilight
                .item
                    span Reforço Escolar
                .item
                    span Novos Caminhos
                .item 
                    span Empregabilidade
                .item
                    span Na Ativa
                .item
                    span Projeto Especial
                .item
                    span Maré Unida
            .content-box
                .item-title
                    h5 Programa
                    span Atletas da Paz
                .item
                    h5 Pilares 
                    .content
                        img(src="../images/boxe.png", alt="")
                        span Boxe e artes marciais
                        img(src="../images/liderancajuvenil.png", alt="")
                        span Liderança juvenil
                        img(src="../images/suportelocal.png", alt="")
                        span Suporte social
                .item
                    h5 Atuação
                    .content
                        span Rio de Janeiro e Londres
            .border
            .article-box 
                .media
                    img(src="../images/lpp-project_01.png", alt="")
                .text
                    p   O Atletas da Paz oferece aos jovens aulas de boxe e artes marciais do nível iniciante até a formação de atletas de elite, dependendo das habilidade ou ambição do aluno. Todos são bem-vindos: do que procura a atividade para ficar em forma e ter um estilo de vida saudável ao que pretende ser um atleta profissional.
                    p   Os jovens também participam das aulas de desenvolvimento pessoal, onde adquirem ferramentas e habilidades importantes para a vida. Competições comunitárias são realizadas regularmente para incentivar os jovens da comunidade a se inscrever no projeto e as equipes de atletas da Organização a competir em níveis regionais e nacionais.
                    p   Ao entrar no Atletas da Paz, os participantes são incentivados a acessar os outros programas da organização, conforme suas necessidades.
                    p   No Rio de Janeiro, o Atletas da Paz é aberto a jovens entre 7 e 29 anos. São oferecidas aulas de desenvolvimento pessoal e treinos de boxe, capoeira, jiu jitsu, judô, luta livre, luta olímpica e muay thai. 
                    p   Em Londres, o programa é aberto a jovens entre 7 e 25 anos de idade. São oferecidas aulas de desenvolvimento pessoal e treinos de boxe, muay thai, jiu jitsu, judô e condicionamento físico. 