.section_projects
    h4 Nossos Programas
    .wrapper
        .box-content    
            .nav-box
                .item(data-id="tabs-1")
                    span Atletas da Paz
                .item(data-id="tabs-2")
                    span Twilight
                .item(data-id="tabs-3")
                    span Reforço Escolar
                .item(data-id="tabs-4")
                    span Novos Caminhos
                .item(data-id="tabs-5")
                    span Empregabilidade
                .item(data-id="tabs-6")
                    span Na Ativa
                .item(data-id="tabs-7")
                    span Projeto Especial
                .item(data-id="tabs-8")
                    span Maré Unida
            .content_item#tabs-1
                .content-box
                    .item-title
                        h5 Programa
                        span Atletas da Paz
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e <br> Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   O Atletas da Paz oferece aos jovens aulas de boxe e artes marciais do nível iniciante até a formação de atletas de elite, dependendo das habilidade ou ambição do aluno. Todos são bem-vindos: do que procura a atividade para ficar em forma e ter um estilo de vida saudável ao que pretende ser um atleta profissional.
                        p   Os jovens também participam das aulas de desenvolvimento pessoal, onde adquirem ferramentas e habilidades importantes para a vida. Competições comunitárias são realizadas regularmente para incentivar os jovens da comunidade a se inscrever no projeto e as equipes de atletas da Organização a competir em níveis regionais e nacionais.
                        p   Ao entrar no Atletas da Paz, os participantes são incentivados a acessar os outros programas da organização, conforme suas necessidades.
                        p   No Rio de Janeiro, o Atletas da Paz é aberto a jovens entre 7 e 29 anos. São oferecidas aulas de desenvolvimento pessoal e treinos de boxe, capoeira, jiu jitsu, judô, luta livre, luta olímpica e muay thai. 
                        p   Em Londres, o programa é aberto a jovens entre 7 e 25 anos de idade. São oferecidas aulas de desenvolvimento pessoal e treinos de boxe, muay thai, jiu jitsu, judô e condicionamento físico. 
            .content_item#tabs-2
                .content-box
                    .item-title
                        h5 Programa
                        span Twilight
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                            img(src="../images/empregabilidade.png", alt="")
                            span Empregabilidade
                            img(src="../images/educacao.png", alt="")
                            span Educação
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   O Twilight é um programa de intervenção precoce utilizado como recurso educacional alternativo para jovens entre 7 e 16 anos em risco de serem expulsos de escolas ou se envolverem com crime, gangues ou violência.
                        p   O programa proporciona que jovens de comunidade locais tenham a oportunidade de treinar boxe e aprender juntos através de sessões semanais de desenvolvimento pessoal e rodas de conversa.
                        p   Os Twilight Targeted são programas personalizados para jovens de 14 a 18 anos que combinam boxe ou condicionamento físico com desenvolvimento pessoal focando em jovens que estão em risco de abandonar a escola ou se envolver com alguma gangue. 
                        p   O programa está disponível para escolas, centros especiais de educação (Pupil Referral Units, Youth Offending Teams) e outras organizações que trabalham com jovens nessa faixa etária. 
                        p   Cada programa Twilight tem duração mínima de nove semanas (uma sessão por semana, durante o semestre escolar) e, semanalmente, a equipe de suporte social fica disponível para atender jovens entre 7 e 13 anos que precisem de algum auxílio. 
            .content_item#tabs-3
                .content-box
                    .item-title
                        h5 Programa
                        span Reforço Escolar
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   Através do Reforço Escolar atendemos alunos entre 11 e 15 anos da rede formal com o objetivo de prevenir a evasão escolar e a reprovação através do reforço de disciplinas-chave, buscando ressignificar a relação dos jovens com a educação e o processo de aprendizagem. 
                        p   Oferecemos aulas de Português e Matemática, utilizando métodos pedagógicos inovadores que sejam atrativos e adequados os jovens. Os alunos também contam com acompanhamento social individualizado através da nossa equipe de Suporte Social.
            .content_item#tabs-4
                .content-box
                    .item-title
                        h5 Programa
                        span Novos Caminhos
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   O Novos Caminhos ajuda os jovens que estão afastados da escola ou desempregados a se reaproximarem da educação, das possibilidades de emprego ou qualificação. O projeto oferece cursos de educação formal combinados com aulas de desenvolvimento pessoal, mentoria individual, treinamento para o mercado de trabalho, orientações vocacionais e para o trabalho, além de suporte individual visando a progressão de carreira.
                        p   No Rio de Janeiro, o Novos Caminhos oferece aulas de Ensinos Médio e Fundamental para jovens entre 16 e 29 anos que estão fora da escola há mais de dois anos. Ao longo do projeto, os jovens recebem apoio individual da equipe de Suporte Social para que a experiência de aprendizagem seja ampliada e constante.
                        p   Em Londres, o Novos Caminhos é composto por dois módulos projetados para atrair jovens entre 16 e 25 anos que estejam fora da educação formal. O Módulo 1 oferece aulas de inglês, matemática e disciplinas relacionadas ao esporte para qualificar o jovem para a prova GCSE (equivalente ao Ensino Médio). Já o Módulo 2 qualifica os alunos para a prova de YMCA Gym Instructor (Instrutor de Academia), formação mais reconhecida e solicitada para o trabalho em academias de ginástica.
            .content_item#tabs-5
                .content-box
                    .item-title
                        h5 Programa
                        span Empregabilidade
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   Oferecemos suporte para acesso ao mercado de trabalho através de treinamentos, orientação vocacional, cursos profissionalizantes e encaminhamentos para oportunidades de emprego.
                        p   No Rio de Janeiro, trabalhamos através de parcerias  que visam estabelecer um elo entre empresas que possam oferecer oportunidades de Jovem Aprendiz, Estágio e/ou Emprego para jovens e familiares que estão vinculados às atividades da Luta pela Paz. 
                        p   Também promovemos feiras de empregabilidade, um evento aberto a todos os moradores da Maré, jovens e adultos, nos quais recebemos empresas parceiras, disponibilizando vagas de emprego, cursos, estágio e/ou jovem aprendiz.
                        P   Em Londres, apoiamos jovens com seus empregos, objetivos de carreira e negócios através de sessões semanais, apoio personalizado e cursos e treinamentos.
            .content_item#tabs-6
                .content-box
                    .item-title
                        h5 Programa
                        span Na Ativa
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   O Na Ativa é um programa de empregabilidade de três anos que tem como objetivo preparar jovens de 16 a 29 anos para o mercado de trabalho através de três módulos.
                        p   No Módulo Básico, os jovens aprendem a refletir sobre si mesmos e suas escolhas, planejando suas vidas e desenvolvendo metas e objetivos. Os participantes aprendem como se apresentar e procurar emprego, além de receber dicas para fazer uma boa entrevista e identificar suas forças técnicas e comportamentais. 
                        p   O Módulo Específico prepara os jovens para desempenhar um papel profissional dentro de uma determinada área de uma empresa ou para entrar em papéis que são procurados no mercado de trabalho. Há um foco em cinco áreas, refletindo as demandas do mercado de trabalho. Essas áreas são telemarketing, vendas, logística, assistente administrativo e recepcionista.
                        P   O Módulo Técnico consiste em cursos ministrados por educadores da Luta pela Paz. Esses cursos incluem aulas sobre gestão de negócios e treinamento de professores, bem como sobre habilidades de secretariado escolar e recursos humanos. Após a conclusão, os participantes recebem certificados.
            .content_item#tabs-7
                .content-box
                    .item-title
                        h5 Programa
                        span Projeto Especial
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   Com o Projeto Especial, atuamos em prevenção terciária com jovens engajados em grupos civis armados ou carreiras criminais no Rio de Janeiro. O apoio dura 18 meses e inclui mapeamento do perfil, qualificação em Educação Formal, preparação para o mercado de trabalho, aconselhamento individual, suporte social e bolsa de estudos.
            .content_item#tabs-8
                .content-box
                    .item-title
                        h5 Programa
                        span Maré Unida
                    .item
                        h5 Pilares 
                        .content
                            img(src="../images/boxe.png", alt="")
                            span Boxe e artes marciais
                            img(src="../images/liderancajuvenil.png", alt="")
                            span Liderança juvenil
                            img(src="../images/suportelocal.png", alt="")
                            span Suporte social
                    .item
                        h5 Atuação
                        .content
                            span Rio de Janeiro e Londres
                .border
                .article-box 
                    .media
                        img(src="../images/lpp-project_01.png", alt="")
                    .text
                        p   O Maré Unida constrói uma cultura de paz e compreensão, unindo jovens através das divisões territoriais. O programa trabalha com o modelo dos Cinco Pilares na Academia e promove, em dois polos, eventos esportivos intercomunitários, treinamentos conjuntos e outros intercâmbios entre jovens de diferentes áreas do Complexo da Maré.