.section_donate
    .wrapper
        .box
            .item
                .media
                    img(src="images/reforco.png", alt="")
            .item
                .text
                    h3 Por que doar para a Luta Pela Paz?
                    p Todo ano, ao redor do mundo, ocorrem mais mortes por arma de fogo em áreas afetadas pelo crime e violência do que na maioria das zonas de guerras atuais. Essa violência afeta principalmente a vida de crianças e jovens destes territórios e acaba atuando como uma barreira para seu desenvolvimento. 
                    p Por isso, somos uma organização séria e transparente que, desde 2000, trabalha para desenvolver o potencial de jovens, trabalhando com eles afim de prevenir a violência nas comunidades em que vivem. Para comprovar essa idoneidade, passamos por <u>auditorias</u> internas e externas anualmente.
                    p Nossos doadores acompanham <u>nossos resultados</u> e o impacto gerado por nosso trabalho através de nossas redes sociais, newsletter mensais e relatórios anuais.
                    p A maior parte de nossos recursos é investida diretamente na execução de nossos programas e no desenvolvimentos dos jovens com quais trabalhamos.  Uma pequena parcela é reservada para cobrir custos administrativos e operacionais. 
        .box-donate 
            .item
                .text
                    h4 Como minha doação pode</br> impactar a vida de um jovem?
                    span Com doações a partir de <b>R$30,00</b> mensais ou apenas <b>R$1,00 real por dia</b>, investimos em:
                    ul
                        li 
                            p   Aulas de boxe e artes marciais que ajudam os jovens a ter mais disciplina e aprender que o sucesso depende de trabalho árduo e dedicação.
                        li 
                            p Aulas de reforço escolar para jovens de 11 a 15 anos potencializarem os aprendizados que recebem no sistema de educação formal.
                        li 
                            p Aulas para jovens afastados da escola a mais de dois anos para que terminem seus estudos.
                        li 
                            p Treinamento para jovens de 16 a 29 anos ingressarem no mercado de trabalho.
                        li  
                            p Acompanhamento social e psicológico de jovens para que possam superar traumas e questões que prejudicam seu desenvolvimento. 
                        li 
                            p Treinamento para que outras organizações que acreditam em esportes de luta como ferramenta de mudança possam se desenvolver.
            .item-2
                .text
                    h3  Doe regularmente
                    p   Você pode ajudar a mantermos nosso trabalho em busca de um mundo com mais paz e justiça social. Doando mensalmente para à Luta pela Paz, você apoia jovens moradores de comunidades que sofrem com o crime e a violência a desenvolverem seu potencial! Clique abaixo, faça a sua doação e nos ajude a tornar o mundo mais solidário. 
                    button Fazer doação regular
        .box-donate.inverso 
            .item
                .text
                    span Veja como você pode ajudar:
                    ul
                        li 
                            p   Aulas de boxe e artes marciais que ajudam os jovens a ter mais disciplina e aprender que o sucesso depende de trabalho árduo e dedicação.
                        li 
                            p Aulas de reforço escolar para jovens de 11 a 15 anos potencializarem os aprendizados que recebem no sistema de educação formal.
                        li 
                            p Aulas para jovens afastados da escola a mais de dois anos para que terminem seus estudos.
            .item-2
                .text
                    h3  Doe regularmente
                    p   Você quer ajudar o trabalho da Luta pela Paz mas não pode doar mensalmente? Faça uma doação única e ajude-nos a continuar impactando a vida de crianças e jovens moradores de comunidades afetadas pelo crime e violência.
                    button Fazer uma única doação
                                     