.section_lifetransform
    .wrapper
        h3 Vidas Transformadas
        .box
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    h4 Miriam Parga
                    span Aluna e monitora de boxe - Academia Luta Pela Paz Rio 
                    p “Eu me dedico muito ao boxe e voltei a estudar em um dos programas de Educação da Luta pela Paz. Quero ser um exemplo para os meus filhos. Acredito que as pessoas devem ser livres para se dedicar e fazer suas escolhas. A Luta pela Paz vem me ajudando a sentir cada vez mais confortável a fazer essas escolhas”
        .box.inverter
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    .name
                        h4 Thishan Rejendram
                    span Aluna e monitora de boxe - Academia Luta Pela Paz Rio 
                    p “Eu tive professores fantásticos na Luta pela Paz. No Novos Caminhos, eu fiz o Módulo 1, que inclui matemática e inglês, e isso me ajudou a melhorar minha confiança em minhas habilidades. Eu também completei um curso de mentoria no Credit Suisse e foi a melhor coisa que já fiz, eu ainda falo com meu mentor agora. Isso me deu muita orientação e me deu tempo para refletir e confiança para poder falar com qualquer um. Eu também completei um curso de Agente de Serviço de Passageiros na Luta pela Paz. O curso me capacitou com o conhecimento, confiança e ferramentas para iniciar minha carreira na aviação, que até hoje era apenas um sonho e agora tornarei realidade”.
        .box
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    h4 Raissa
                    span Aluna e monitora de boxe - Academia Luta Pela Paz Rio 
                    p “Eu me dedico muito ao boxe e voltei a estudar em um dos programas de Educação da 
        .box.inverter
            .item
                .media
                    img(src="images/media_programs.png", alt="")
            .item
                .text
                    .name
                        h4 Thishan Rejendram
                    span Aluna e monitora de boxe - Academia Luta Pela Paz Rio 
                    p “Eu tive profe
        button Carregar mais histórias