.three_pillars
    .wrapper
        .box
            .item
                .media
                    img(src="images/media_pillars.jpg", alt="")
            .item
                .text
                    p Utilizamos um modelo de saúde pública que foca em três</br> níveis de prevenção de violência:
                    ul
                        li <span>1º</span> É onde fornecemos apoio e oportunidades de inclusão para jovens em comunidades afetadas pelo crime. 
                        li <span>2º</span> Focamos em pessoas ou grupos em situação de risco de se tornarem vítimas ou autores. 
                        li <span>3º</span> Apoiamos pessoas que querem sair do crime e da violência para que não retornem ou se tornem vítimas novamente. 
