
.timeline
    .wrapper
        h4 Nossa trajetória
        p Fundada em 2000, pelo antropólogo e ex-boxeador inglês Luke Dowdney, a Luta pela Paz vem crescendo local e globalmente, buscando oferecer suporte e apoio necessário para auxiliar jovens a romper barreiras e alcançar a paz em suas comunidades. Acompanhe abaixo a evolução do nosso trabalho e os momentos mais marcantes da nossa trajetória.
    .box
        .wrapper
            .slider
                .item
                    .block_content
                        .media
                            img(src="images/media_timeline.jpg", alt="")
                        .bar
                        .text
                            h5 2000
                            p A Academia Luta pela Paz (LPP) é fundada como um projeto da ONG Viva Rio em 22/8; o fundador Luke e a assistente social Míriam trabalhavam sozinhos para apenas 10 jovens.
                .item
                    .block_content.reverse
                        .media
                            img(src="images/media_timeline.jpg", alt="")
                        .bar
                        .text
                            h5 2000
                            p A Academia Luta pela Paz (LPP) é fundada como um projeto da ONG Viva Rio em 22/8; o fundador Luke e a assistente social Míriam trabalhavam sozinhos para apenas 10 jovens.
                    .block_content
                        .text
                            h5 2000
                            p A Academia Luta pela Paz (LPP) é fundada como um projeto da ONG Viva Rio em 22/8; o fundador Luke e a assistente social Míriam trabalhavam sozinhos para apenas 10 jovens.
                        .bar
                        .media
                            img(src="images/media_timeline.jpg", alt="")