.transparency
    .wrapper
        .box
            h4 Transparência
            .slide-title.blue
                h5 Pesquisas Externas
                .content.slider_transparencia
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .mobile-button
                        a(href="")
                            span.blue Ver mais pesquisas
                            img(src="../images/bluearrow.png", alt="")
                .slide-title
                h5.red Relatórios anuais
                .content.slider_transparencia
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .mobile-button
                        a(href="")
                            span.red Ver mais relatórios
                            img(src="../images/redarrow.png", alt="")
                .slide-title
                h5.lightblue Auditorias
                .content.slider_transparencia
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                            