.transparency
    .wrapper
        .box
            h4 Transparência
            .content
                .item
                    .item-content
                        .title
                            img(src="../images/ukflag.png", alt="")
                            h5 Conferência - </br>Considerações Finais
                        .date
                            span UEL, 2015
                            a(href="") Ver
                                img(src="../images/arrow.png", alt="")
                .item
                    .item-content
                        .title
                            img(src="../images/ukflag.png", alt="")
                            h5 Conferência - </br>Considerações Finais
                        .date
                            span UEL, 2015
                            a(href="") Ver
                                img(src="../images/arrow.png", alt="")
                .item
                    .item-content
                        .title
                            img(src="../images/ukflag.png", alt="")
                            h5 Conferência - </br>Considerações Finais
                        .date
                            span UEL, 2015
                            a(href="") Ver
                                img(src="../images/arrow.png", alt="")
                .item
                    .item-content
                        .title
                            img(src="../images/ukflag.png", alt="")
                            h5 Conferência - </br>Considerações Finais
                        .date
                            span UEL, 2015
                            a(href="") Ver
                                img(src="../images/arrow.png", alt="")
                            