.transparency
    .wrapper
        .box
            h4 Transparência
            .slide-title
                h5 Pesquisas Externas
                .content
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                .slide-title
                h5 Relatórios anuais
                .content
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                .slide-title
                h5 Auditorias
                .content
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                    .item
                        .item-content
                            .title
                                img(src="../images/ukflag.png", alt="")
                                h5 Conferência - </br>Considerações Finais
                            .date
                                span UEL, 2015
                                a(href="") Ver
                                    img(src="../images/arrow.png", alt="")
                            