.webdoor_slider
    .box_slider
        .item
            video(autoplay)
                //source(src="images/movie.mp4" type="video/mp4")
                //source(src="images/movie.ogg" type="video/ogg")
            .button-play
                img(src="images/playbutton.png", alt="")   
                span Assista ao vídeo completo
        .item
            img(src="images/home.png", alt="")
            .filter_bg
            .wrapper
                .conntent_text
                    h2 Por um mundo com mais paz, justiça e solidariedade
                    p A Luta pela Paz é uma organização internacional sem fins lucrativos que tem como missão realizar o potencial de jovens trabalhando com eles pela prevenção da violência nas comunidades em que vivem.
                    a(href="#") Apoie nossa Luta 
        .item
            img(src="images/home.png", alt="")
            .filter_bg
            .wrapper
                .content_text.pink
                    h2 O Dia das Mães está chegando.
                    p Personalize sua homenagem! mostre que sua mãe é uma verdadeira lutadora!
                    a(href="#") Clique e faça seu cartão virtual.