.webdoor_principal
    .filter_bg
    .wrapper
        .conntent_text
            h2 Por um mundo com mais paz, justiça e solidariedade
            p A Luta pela Paz é uma organização internacional sem fins lucrativos que tem como missão realizar o potencial de jovens trabalhando com eles pela prevenção da violência nas comunidades em que vivem.
            a(href="#") Apoie nossa Luta 