.webdoor_slider
    .box_slider
        .item
            .button-play.rel 
                span Clique e descubra nossas maiores conquistas de 2018.
        .item
            img(src="images/home.png", alt="")
            .filter_bg
            .wrapper
                .conntent_text
                    h2 Por um mundo com mais paz, justiça e solidariedade
                    p A Luta pela Paz é uma organização internacional sem fins lucrativos que tem como missão realizar o potencial de jovens trabalhando com eles pela prevenção da violência nas comunidades em que vivem.
                    a(href="#") Apoie nossa Luta 
                        img(src="images/playbutton.png", alt="")
        .item
            img(src="images/home.png", alt="")
            .filter_bg
            .wrapper
                .content_text
                    h2 O Dia das Mães está chegando.
                    p Personalize sua homenagem! mostre que sua mãe é uma verdadeira lutadora!
                    a(href="#") Clique e faça seu cartão virtual.