.webdoor_form
    img(src="images/webdoor_reforco.png", alt="")
    .wrapper
        .conntent_text
            h2 Quer colaborar?
            p Doando mensalmente para a Luta pela paz, você apoia jovens moradores de comunidades que sofrem com o crime e a violência a desenvolverem seu potencial. Clique no link abaixo, faça a sua doação e nos ajude a fazer um mundo com mais paz.
            a(href="#") Apoie nossa Luta