.webdoor_news
    img(src="images/home.png", alt="")
.wrapper
    .filter_bg
    .content_title
        h1 Lorem ipsum dolor sit amet consectetur adipiscing elit, consectetur adipiscing elit.
        p Nam aliquet, ipsum commodo mollis lacinia, ex turpis dignissim ligula, ut pretium neque est sit amet eros.Pellentesque nec diam condimentum, porttitor nibh sit amet, consectetur sem.
        .content_links
            .publicado
                span Publicado em 22/11/2018 às 11h45

            .media
                span Compartilhe:
                .twitter
                    img(src="images/twitter_news.png")
                    a(href="#") Twitter
                .facebook     
                    img(src="images/facebook_news.png")
                    a(href="#") Facebook
                .whatsapp
                    img(src="images/whatsapp_news.png")
                    a(href="#") Whatsapp

        .content_text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel fermentum leo. Nam aliquet, ipsum commodo mollis lacinia, ex turpis dignissim ligula, ut pretium neque est sit amet eros. Pellentesque nec diam condimentum, porttitor nibh sit amet, consectetur sem. Vivamus sagittis dictum mi vel iaculis. Curabitur venenatis sapien lacus, nec efficitur ex fermentum et. Integer posuere elit nec mi tristique, vel gravida libero scelerisque. Nullam placerat enim lacus, sit amet malesuada metus hendrerit at. Phasellus rutrum dui eu lectus viverra, et congue quam faucibus. Nunc vel justo congue, aliquet ipsum eu, fermentum enim.

            p Integer tristique mi ac leo dictum, eget faucibus augue gravida. Morbi aliquet in elit at facilisis. Quisque rhoncus libero vel molestie facilisis. Mauris neque tortor, ullamcorper ultricies tristique id, tristique sed urna. Mauris eget mattis elit, vel egestas diam. Fusce tempor sodales purus gravida accumsan. Suspendisse potenti. Suspendisse non porttitor nisl. Integer sit amet lacus erat. Aliquam dictum quam at est venenatis, nec ornare tellus pharetra. Phasellus vitae placerat mauris, at efficitur magna. Curabitur non sollicitudin massa. Donec varius magna nibh. Duis sit amet leo ex. Duis sit amet velit id ipsum congue mollis sed sed libero. Suspendisse hendrerit id nunc varius consequat.

            p Morbi eget mauris eget risus elementum maximus eget ut sapien. Donec sit amet sodales elit. Nam elit nisi, facilisis et ex eget, rhoncus tincidunt massa. Etiam egestas, odio sed mollis posuere, ipsum nisl ultricies nisi, vitae vestibulum ligula lacus non risus. Fusce scelerisque, odio et faucibus fermentum, urna odio pellentesque elit, non luctus nisi risus eget purus. Aenean mattis lectus a pretium tristique. Donec tincidunt, neque imperdiet feugiat pharetra, magna risus tempor eros, id semper nisl dui et felis. Nulla facilisi. Donec consectetur nisi condimentum, porttitor felis ac, maximus urna. Vestibulum sed imperdiet leo, a consequat ante. Sed posuere nisi id magna ornare, vitae porta mi sagittis. Praesent sed convallis nulla. Nulla in mauris ut turpis ultrices ultricies.

            p Suspendisse eu sem nec mi interdum sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin nec erat sagittis nulla rhoncus maximus ut id lacus. In condimentum egestas lacus. Donec lacinia, leo nec vestibulum iaculis, dui dui tempor mauris, non scelerisque quam orci ac ipsum. Praesent luctus nulla ac purus rhoncus finibus. Vestibulum vitae consequat mi. Fusce aliquam cursus dolor vel congue. Donec nec efficitur nisi, sed bibendum ligula. Ut tempus velit eu tortor blandit, et bibendum sapien blandit. Vestibulum sem orci, blandit a lobortis maximus, cursus eget lacus.

            p Nunc quis fermentum ipsum. Suspendisse potenti. Suspendisse magna leo, congue at ultricies eget, scelerisque non velit. Integer ante eros, fermentum nec congue et, venenatis in turpis. Nulla finibus imperdiet neque id gravida. Morbi ac condimentum magna. Nam lorem sapien, eleifend eget auctor a, bibendum et velit. Mauris augue diam, pulvinar ut dui sed, iaculis condimentum odio.

            .content_links-bottom
                .media
                    span Compartilhe:
                    .twitter
                        img(src="images/twitter_news.png")
                        a(href="#") Twitter
                    .facebook     
                        img(src="images/facebook_news.png")
                        a(href="#") Facebook
                    .whatsapp
                        img(src="images/whatsapp_news.png")
                        a(href="#") Whatsapp

